<ul class="Linklist Linklist--padded Treeview js-fr-treeview u-text-r-xs">
    <li><a href="/">{{_ "Home"}}</a></li>
    <li><a href="/richiedi-spid">{{_ "Richiedi SPID"}}</a></li>
    <li><a href="/servizi">{{_ "Dove puoi usare SPID"}}</a></li>
    <li><a href="/domande-frequenti">{{_ "Domande frequenti"}}</a></li>
    <li><a href="/serve-aiuto">{{_ "Serve aiuto?"}}</a></li>
    <li><a href="/come-diventare-fornitore-di-servizi-pubblici-e-privati-con-spid">{{_ "Vuoi diventare fornitore di servizi SPID?"}}</a></li>
    {{!-- <li><a href="/press-area">{{_ "Press area"}}</a></li> --}}
</ul>
