<section class="u-padding-r-bottom u-text-r-xl">
    <div class="u-layout-wide u-layout-withGutter u-layoutCenter">

        <div class="Grid">
            <h2 id="carousel-heading" class="Grid-cell u-text-h2 u-layout-centerLeft">{{_ "Infografiche"}}</h2>

            <div class="Grid-cell u-layout-centerRight">
                <button class="owl-prev u-padding-bottom-xl u-padding-right-xxl u-text-r-xl u-color-teal-70" aria-controls="carousel-1">
            <span class="u-hiddenVisually">{{_ "Vai alla slide precedente"}}</span>
            <span class="u-alignMiddle Icon Icon-arrow-left" role="presentation"></span>
        </button>
                <button class="owl-next u-padding-bottom-xl u-padding-left u-text-r-xl u-color-teal-70" aria-controls="carousel-1">
          <span class="u-hiddenVisually">{{_ "Vai alla slide successiva"}}</span>
          <span class="u-alignMiddle Icon Icon-arrow-right" role="presentation"></span>
        </button>
                <p class="u-hiddenVisually">{{_ "È possibile navigare le slide utilizzando i tasti freccia"}}</p>
            </div>
        </div>

        <div class="owl-carousel owl-theme" role="region" id="carousel-1">

            <div class="Carousel-item">
                <div class="u-color-grey-30">
                    <a href="/infografiche-spid-week#amministrazioni-aderenti" aria-labelledby="desc-1" class="u-background-white u-block u-linkClean u-padding-all-xxs">
                        <figure>
                            <img src="/assets/img/spid-we/thumbnail-01.svg" class="u-sizeFull" alt="" />
                            <figcaption class="u-padding-r-top u-color-95">
                                <p class="u-color-teal-70 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">{{_ "Infografica"}}</p>
                                <div class="Grid">
                                    <span class="Grid-cell u-sizeFit Icon-camera u-floatLeft u-text-r-l" aria-hidden="true"></span>
                                    <h3 id="desc-1" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-text-r-xs u-textWeight-700">
                                    {{_ "Amministrazioni aderenti"}}
                                </h3>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>

            <div class="Carousel-item">
                <div class="u-color-grey-30">
                    <a href="/infografiche-spid-week#spid-cosa-puoi-fare" aria-labelledby="desc-2" class="u-background-white u-block u-linkClean u-padding-all-xxs">
                        <figure>
                            <img src="/assets/img/spid-we/thumbnail-02.svg" class="u-sizeFull" alt="" />
                            <figcaption class="u-padding-r-top u-color-95">
                                <p class="u-color-teal-70 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">{{_ "Infografica"}}</p>
                                <div class="Grid">
                                    <span class="Grid-cell u-sizeFit Icon-camera u-floatLeft u-text-r-l" aria-hidden="true"></span>
                                    <h3 id="desc-2" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-text-r-xs u-textWeight-700">
                                    {{_ "Cosa puoi fare con SPID"}}
                                </h3>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>

            <div class="Carousel-item">
                <div class="u-color-grey-30">
                    <a href="/infografiche-spid-week#servizi-spid-only" aria-labelledby="desc-3" class="u-background-white u-block u-linkClean u-padding-all-xxs">
                        <figure>
                            <img src="/assets/img/spid-we/thumbnail-03.svg" class="u-sizeFull" alt="" />
                    <figcaption class="u-padding-r-top u-color-95">
                        <p class="u-color-teal-70 u-text-r-xxs u-textWeight-700 u-padding-bottom-s">{{_ "Infografica"}}</p>
                        <div class="Grid">
                            <span class="Grid-cell u-sizeFit Icon-camera u-floatLeft u-text-r-l" aria-hidden="true"></span>
                            <h3 id="desc-3" class="Grid-cell u-sizeFill u-padding-left-s u-lineHeight-l u-text-r-xs u-textWeight-700">
                                    {{_ "Servizi SPID only"}}
                                </h3>
                        </div>
                    </figcaption>
                    </figure>
                    </a>
                </div>
            </div>


        </div>
    </div>
</section>
