<section class="u-layout-medium u-layoutCenter u-padding-r-all u-text-r-xxl u-layout-withGutter u-border-top-xxs u-color-grey-40">
    <div>
        <div class="Grid">
            <h2 id="carousel-heading" class="Grid-cell u-text-h4 u-color-black u-layout-centerLeft_">{{_ "Dicono di SPID"}}</h2>
        </div>

        <div class="Grid Grid--withGutter">

            <div class="Carousel-item_ Grid-cell u-lg-size1of3 u-md-size1of3 u-margin-r-bottom">
                <div class="u-color-grey-30 u-padding-r-right">
                    <blockquote>
                        <p class="u-layout-prose u-textSecondary u-lineHeight-l u-text-r-s">
                            {{_ "“Un cambio di passo non da poco perché una sola username e password consentiranno di accedere a tutta la PA”"}}
                            <br></p>
                    </blockquote>
                    <footer>
                        <cite><a title="{{_ 'Articolo da Il Sole 24 Ore - in una nuova finestra'}}" target="_blank" href="http://www.ilsole24ore.com/art/notizie/2016-03-14/spid-prima-tappa-pa-digitale-063409.shtml?uuid=ACbJLanC"><img src="/assets/img/giornali/il-sole-24-ore.svg" style="margin:auto; height: 75px; width: 180px"
                      height="75" width="180" alt="{{_ 'Il Sole 24 Ore'}}" /></a></cite>
                    </footer>
                </div>
            </div>


            <div class="Carousel-item_ Grid-cell u-lg-size1of3 u-md-size1of3 u-margin-r-bottom">
                <div class="u-color-grey-30 u-padding-r-right">
                    <blockquote>
                        <p class="u-layout-prose u-textSecondary u-lineHeight-l u-text-r-s">
                            {{_ "“Si tratta di un sistema di autenticazione sicuro che garantisce la tutela dei dati personali, che non possono né essere utilizzati né ceduti a terzi senza autorizzazione dell’utente”"}}
                        </p>
                    </blockquote>
                    <footer>
                        <cite class="u-textCenter">
                          <a title="{{_ 'Articolo da La Stampa - in una nuova finestra'}}" href="http://www.lastampa.it/2016/09/16/italia/cronache/dieci-cose-da-sapere-sul-bonus-di-euro-ai-enni-gSbFlfANGJFKbwhyo483AL/pagina.html" target="_blank">
                          <img src="/assets/img/giornali/la-stampa.svg" style="margin:auto; height: 75px; width: 180px"
                    height="75" width="180" alt="{{_ 'La Stampa'}}" /></a></cite>
                    </footer>
                </div>
            </div>

            <div class="Carousel-item_ Grid-cell u-lg-size1of3 u-md-size1of3 u-margin-r-bottom">
                <div class="u-color-grey-30 u-padding-r-right">
                    <blockquote>
                        <p class="u-layout-prose u-textSecondary u-lineHeight-l u-text-r-s">
                          {{_ "“Come si fa a distinguere l’accesso ai servizi via SPID. Le interfacce di accesso saranno standard, grazie a un’identità grafica comune e non suscettibile di confusione”"}}
                        </p>
                    </blockquote>
                    <footer>
                        <cite class="u-textCenter">
                          <a title="{{_ 'Articolo da Wired - in una nuova finestra'}}" href="http://www.wired.it/attualita/tech/2016/03/08/spid-sistema-pubblico-identita-digitale/" target="_blank">
                          <img src="/assets/img/giornali/Wired.svg" style="margin:auto; height: 75px; width: 180px"
                    height="75" width="180" alt="{{_ 'Wired'}}" /></a></cite>
                    </footer>
                </div>
            </div>

        </div>

    </div>
</section>
