<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie89 ie8" lang="it"><![endif]-->
<!--[if IE 9]><html class="no-js ie89 ie9" lang="it"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="it">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{_ "Il Sistema Pubblico di Identità Digitale ti permette di accedere ai servizi online della Pubblica Amministrazione con un'unica coppia utente - password."}}" />

    <script type="text/javascript">
        WebFontConfig = {
            google: {
                families: ['Titillium+Web:400,600,700,400italic:latin']
            }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>

    <!-- include html5shim per Explorer 8 -->
    <script src="/assets/vendor/modernizr.js"></script>

    <script src="/assets/vendor/jquery.min.js"></script>

    {{#each cssFiles}}
        <link media="all" rel="stylesheet" href="/assets/css/{{file}}?v=5">
    {{/each}}
    <title>{{> pageTitle}}</title>

    <!-- Hotjar Tracking Code for http://www.spid.gov.it -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:344174,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

</head>
<body class="Pac">
    <div id="cookie-bar" class="CookieBar js-CookieBar u-background-95 u-padding-r-all">
        <p class="u-color-white u-text-p u-padding-r-bottom">{{_ "Questo sito utilizza cookie tecnici, analytics e di terze parti."}}
            <br>{{_ "Proseguendo nella navigazione accetti l’utilizzo dei cookie."}}
            <br>
        </p>
        <p>
            <button class="Button Button--default u-text-r-xxs js-cookieBarAccept u-inlineBlock u-margin-r-all">{{_ "Accetto"}}</button>
            <a href="/privacy-e-note-legali" class="u-text-r-xs u-color-teal-50">{{_ "Privacy policy"}}</a>
        </p>
    </div>

    <div id="spidLoader"></div>

    <ul class="Skiplinks js-fr-bypasslinks">
        <li><a accesskey="2" href="#main">{{_ "Vai al Contenuto" }}</a></li>
        <li><a accesskey="3" href="#menu" class="js-fr-offcanvas-open" aria-controls="menu" aria-label="{{_ "accedi al menu"}}" title="{{_ "accedi al menu"}}">{{_ "Vai alla navigazione del sito"}}</a></li>
    </ul>
    <header class="Header Headroom--fixed u-hiddenPrint">

        <div class="Header-banner">
            <div class="Header-owner Headroom-hideme">
                <a href="http://www.agid.gov.it" target="blank_"><span>{{_ "Agenzia per l'Italia Digitale"}}</span></a>
                <div class="Header-languages">
                    <a href="#languages" data-menu-trigger="languages" class="Header-language u-border-none u-zindex-max u-inlineBlock">
                        <span class="u-hiddenVisually">{{_ "lingua attiva:"}}</span>
                        <span class=""><img class="icon-flag" src="/assets/img/flags/{{_ "_"}}.png" />{{_ "__"}}</span>
                        <span class="Icon Icon-expand u-padding-left-xs"></span>
                    </a>
                    <div id="languages" data-menu class="Dropdown-menu Header-language-other u-jsVisibilityHidden u-nojsDisplayNone">
                        <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
                        <ul>
                            <li><a href="?lang=it" class="u-padding-r-all" title="lingua italiano"><span lang="it"><img class="icon-flag" src="/assets/img/flags/it.png" />Italiano</span></a></li>
                            <li><a href="?lang=de" class="u-padding-r-all" title="sprache deutsch"><span lang="de"><img class="icon-flag" src="/assets/img/flags/de.png" />Deutsch</span></a></li>
                        </ul>
                    </div>
                </div>                
            </div>
        </div>

        <div class="Header-navbar" style="padding: 20px 0!important;">
            <div class="u-layout-wide Grid Grid--alignMiddle u-layoutCenter" style="max-width:100%!important;">
                <div class="Header-toggle Grid-cell">
                    <a class="Hamburger-toggleContainer js-fr-offcanvas-open" href="#menu" aria-controls="menu" aria-label="{{_ "accedi al menu"}}" title="{{_ "accedi al menu"}}">
                        <span class="Hamburger-toggle" role="presentation"></span>
                        <span class="Header-toggleText" role="presentation">Menu</span>
                    </a>
                </div>                
                <div class="Header-logo Grid-cell" aria-hidden="true">
                    <a href="/" tabindex="-1">
                        <img id="spid-logo" src="/assets/img/spid-ico-circle-bb.svg" alt="Logo SPID" />
                    </a>
                </div>
                <div class="Header-title Grid-cell">
                    <h1 class="Header-titleLink">
                        <a accesskey="1" href="/">
                        {{_ "SPID"}}<br>
                        <small>{{_ "Sistema Pubblico di Identità Digitale"}}</small>
                        </a>
                    </h1>
                </div>
                <div style="width:33%;float:right">
                    <div class="Header-social Headroom-hideme " style="float:right">
                        <p>Seguici su:</p>
                        <ul class="Header-socialIcons">
                            <li><a href="https://www.facebook.com/groups/agid.spid/"><span class="Icon-facebook"></span>
                            <span class="u-hiddenVisually">Facebook</span></a></li>
                        </ul>
                    </div>              
                </div>
            </div>
        </div>

        <div class="Headroom-hideme u-textCenter u-hidden u-sm-hidden u-md-block u-lg-block">
            <nav class="Megamenu Megamenu--default">
                {{> mainMenu}}
            </nav>
        </div>

    </header>

    <div class="Offcanvas Offcanvas--left Offcanvas--modal js-fr-offcanvas u-jsVisibilityHidden u-nojsDisplayNone" id="menu">
        <h2 class="u-hiddenVisually">{{_ "Menu di navigazione"}}</h2>
        <div class="Offcanvas-content u-background-white">
            <div class="Offcanvas-toggleContainer u-background-70">
                <a class="Hamburger-toggleContainer u-block u-color-white u-padding-bottom-xxl u-padding-left-s u-padding-top-xxl js-fr-offcanvas-close" aria-controls="menu" aria-label="esci dalla navigazione" title="esci dalla navigazione" href="#">
                    <span class="Hamburger-toggle is-active" aria-hidden="true"></span>
                </a>
            </div>
            <nav>
                {{> burgerMenu}}
            </nav>
        </div>
    </div>

    <main id="main">
        {{{body}}}
    </main>

    <div class="u-background-grey-80">
        <div class="u-layout-medium u-layoutCenter u-layout--withGutter">
            <footer class="Footer u-padding-all-s">

                <div class="Footer-block">
                    <img class="u-sizeFull u-md-size1of3 u-sm-size2of3 u-lg-size1of3" src="/assets/img/agid-logo-bb.svg" alt="{{_ "AgID - Agenzia per l'Italia Digitale"}}" />
                </div>

                <div class="Grid Grid--withGutter">
                    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
                        <h2 class="Footer-blockTitle">{{_ "Contatti"}}</h2>
                        <div class="Footer-subBlock">
                            <a href="tel:0682888736"><img class="phone-support-spid" src="/assets/img/telefono-supporto-spid.svg" alt="{{_ "Telefono supporto SPID 0682888736"}}" /></a>
                            <br>
                            <p class="Prose u-margin-top-l u-text-r-xxs u-color-white">
                                {{_ "Puoi chiamare dal lunedì al venerdì dalle 9:30 alle 16:00. Il costo della telefonata varia in base al piano tariffario applicato dal tuo gestore." }}
                            </p>
                            <p class="u-border-top-xxs u-margin-r-top u-padding-r-top u-color-white">
                              {{_ "oppure scrivi al"}}
                              <a href="https://helpdesk.spid.gov.it">{{_ "supporto online per SPID"}}</a>
                            </p>
                        </div>
                    </div>

                    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
                        <h2 class="Footer-blockTitle">{{_ "Stampa e promozione"}}</h2>
                        <ul>
                            <li><a href="/press-area">{{_ "Materiale promozionale"}}</a></li>
                            <li><a href="/spid-week">{{_ "Campagna SPID Week"}}</a></li>
                        </ul>
                    </div>

                    <div class="Footer-block Grid-cell u-md-size1of4 u-lg-size1of4">
                        <h2 class="Footer-blockTitle">{{_ "Seguici su"}}</h2>
                        <div class="Footer-subBlock">
                            <p>
                                <br>
                                <a class="u-linkClean" href="https://www.facebook.com/groups/agid.spid/">
                                    <span class="Icon-facebook u-text-r-m u-background-teal-50 u-color-grey-80 u-borderRadius-circle u-padding-all-xs"></span>
                                    <span class="u-text-r-m u-padding-r-left">Facebook</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <ul class="Footer-links u-cf">
                    <li><a href="/domande-frequenti"><strong>{{_ "Domande frequenti"}}</strong></a></li>
                    <li><a href="/privacy-e-note-legali"><strong>{{_ "Privacy e note legali"}}</strong></a></li>
                </ul>
            </footer>
        </div>
    </div>

    <a href="#" title="torna all'inizio del contenuto" class="ScrollTop js-scrollTop js-scrollTo u-lg-hidden u-md-hidden">
        <i class="ScrollTop-icon Icon-arrow-up" aria-hidden="true"></i>
        <span class="u-hiddenVisually">{{_ "torna all'inizio del contenuto"}}</span>
    </a>

    <!--[if IE 8]>
        <script src="/assets/vendor/respond.min.js"></script>
        <script src="/assets/vendor/rem.min.js"></script>
        <script src="/assets/vendor/selectivizr.js"></script>
        <script src="/assets/vendor/slice.js"></script>
        <![endif]-->

    <!--[if lte IE 9]>
        <script src="/assets/vendor/polyfill.min.js"></script>
        <![endif]-->

    {{#each jsFiles}}
        <script src="/assets/js/{{file}}?v=5"></script>
    {{/each}}


    <!-- Google Code for Remarketing Tag -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 871893881;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

    <noscript>
      <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/871893881/?value=1&amp;guid=ON&amp;script=0"/>
      </div>
    </noscript>

    <!-- Google Code for Async Remarketing Tag -->
    <script type="text/javascript">
        /* <![CDATA[ */
        goog_snippet_vars = function() {
                var w = window;
                w.google_conversion_id = 871893881;
                w.google_conversion_label = "6IKnCMOn3GoQ-ZbgnwM";
                w.google_remarketing_only = false;
            }
            // DO NOT CHANGE THE CODE BELOW.
        goog_report_conversion = function(url) {
                goog_snippet_vars();
                window.google_conversion_format = "3";
                var opt = new Object();
                opt.onload_callback = function() {
                    if (typeof(url) != 'undefined') {
                        window.location = url;
                    }
                }
                var conv_handler = window['google_trackConversion'];
                if (typeof(conv_handler) == 'function') {
                    conv_handler(opt);
                }
            }
            /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js"></script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        $(document).ready(function() {
            var sendGaPageview = function() {
                ga('create', 'UA-3351165-23', 'auto');
                ga("set", "anonymizeIp", true);
                ga('send', 'pageview');
            };
            if ($.cookieBar && $.cookieBar.isAccepted()) {
                sendGaPageview();
            } else {
                $(document).on('accept.cookiebar', sendGaPageview);
            }
        });
    </script>

<!-- Piwik -->
    <script type="text/javascript">
    	var _paq = _paq || [];
        $(document).ready(function() {
            var startPiwik = function() {
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                var u="//italia.piwikpro.com/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 7]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            }
            if ($.cookieBar && $.cookieBar.isAccepted()) {
                startPiwik();
            } else {
                $(document).on('accept.cookiebar', startPiwik);
            }
        });
    </script>
    <!-- End Piwik Code -->

</body>

</html>
