<div class="u-padding-r-top u-margin-r-top">
    <div class="u-layout-medium u-layoutCenter u-margin-bottom-xxl u-layout-withGutter">
      <h2 class="u-text-h2" id="fornitore-di-spid">{{_ "Come diventare fornitore di servizi Pubblici o Privati con SPID"}}</h2>

        <div class="Grid">

            <div class="Grid-cell u-md-size4of12 u-lg-size4of12 u-md-flexOrderLast u-lg-flexOrderLast u-hidden u-md-block u-lg-block">
                <ul class="Linklist u-layout-prose u-text-p">
                    <li><a href="#procedura-tecnica">{{_ "Procedura tecnica"}}</a></li>
                    <li><a href="#procedura-amministrativa">{{_ "Procedura amministrativa"}}</a></li>
                    <li><a href="#supporto-tecnico">{{_ "Supporto tecnico"}}</a></li>
                    <li><a href="#riepilogo">{{_ "Riepilogo"}}</a></li>
                    <li><a href="#riferimenti">{{_ "Riferimenti"}}</a></li>
                    <li><a href="#convenzionesoggettipubblici">{{_ "Convenzione per soggetti pubblici"}}</a></li>
                    <li><a href="#convenzioneperprivatieallegati">{{_ "Convenzione per privati e allegati"}}</a></li>
                </ul>
            </div>

            <div class="Grid-cell u-sizeFull u-md-size8of12 u-lg-size8of12">
                <section class="Prose u-layout-prose">
                    <p>
                        {{_ "Tutte le pubbliche amministrazioni devono rendere i propri servizi online accessibili tramite SPID in modo da favorire e semplificare l'utilizzo dei servizi digitali da parte di tutti i cittadini."}}<br><br>
			            {{_ "Anche i privati possono rendere i propri servizi online accessibili tramite SPID, al fine di favorire e semplificare l’utilizzo dei propri servizi digitali."}}<br><br>
                        {{_ "In questa pagina trovi le informazioni che ti consentono di diventare fornitore di servizi e il percorso necessario per adeguare i tuoi sistemi informativi alle regole tecniche e alle regole di design dedicate a SPID."}}
                    </p>
                    <p>
                        {{_ "Le procedure da completare sono due, una tecnica e una amministrativa. Ogni comunicazione avviene attraverso il"}} <a href="https://github.com/italia/spid">{{_ "sistema di supporto"}}</a> {{_ "dedicato"}} {{_ "e tramite l'email"}} <a href="mailto:spid.tech@agid.gov.it">spid.tech@agid.gov.it</a> {{_ "se dovessero essere comunicati dati ritenuti sensibili o configurazioni di sicurezza e per la richiesta di caricamento metadata."}}
                    </p>

                    <h3 class="u-text-h3" id="procedura-tecnica">{{_ "Procedura tecnica"}}</h3>
                    <p>
                        {{_ "Il sistema SPID si basa sul protocollo"}} <a href="http://saml.xml.org/" target="_blank">{{_ "SAML2"}}</a>.<br> {{_ "Per implementare SPID nei tuoi servizi online:"}}

                    </p>
                    <ol class="Prose Bullets">
                        <li class="u-margin-r-bottom">
                            <a name="procedura-tecnica-1" style="padding-top: 110px; margin-top: -110px;"></a>
                            <p class="Prose u-layout-prose">
                                {{_ "Consulta le "}}<a href="http://www.agid.gov.it/sites/default/files/circolari/spid-regole_tecniche_v1.pdf" target="_blank">{{_ "regole tecniche"}}</a>, <a href="https://www.agid.gov.it/it/piattaforme/spid/avvisi-spid" target="_blank">{{_ "gli avvisi SPID"}}</a> {{_ "e la"}} <a href="https://www.agid.gov.it/sites/default/files/repository_files/tabella-messaggi-spid-v1.3_0.pdf" target="_blank">{{_ "tabella anomalie"}}</a>, {{_ "con le indicazioni necessarie a guidarti durante l'implementazione di SPID e le"}} <a href="https://www.spid.gov.it/assets/res/agid-spid-lg-interfacce-informazioni-idp-sp.pdf" target="_blank">{{_ "linee guida interfacce e informazioni"}}</a>. {{_ "Queste ultime hanno l'obiettivo di guidarti nell'utilizzo delle componenti grafiche necessarie a garantire la riconoscibilità di SPID tra gli utenti."}}
                            </p>
                        </li>
                        <li class="u-margin-r-bottom">
                            <a name="procedura-tecnica-2" style="padding-top: 110px; margin-top: -110px;"></a>
                            <p class="Prose u-layout-prose">
                                {{_ "Implementa l'autenticazione con SPID sui tuoi servizi. Sul repository"}} <a href="https://developers.italia.it/it/spid" target="_blank">https://developers.italia.it/it/spid</a> {{_ "sono disponibili librerie per i diversi linguaggi di programmazione e risorse utili per l’integrazione ai quali puoi fare riferimento."}}
                            </p>
                        </li>
                        <li class="u-margin-r-bottom">
                            <a name="procedura-tecnica-3" style="padding-top: 110px; margin-top: -110px;"></a>
                            <p class="Prose u-layout-prose">
                                {{_ "Verifica se il tuo Ente ha già prodotto ed inviato ad AgID un metadata. In caso affermativo modifica il metadata già presentato per includere i nuovi servizi, altrimenti elabora un metadata come indicato nel"}} <a href="http://www.agid.gov.it/sites/default/files/documentazione/spid-avviso-n6-note-sul-dispiegamento-di-spid-presso-i-gestori-di-servizi-v1.pdf" target="_blank">{{_ "documento riassuntivo"}}</a>. {{_ "Il dispiegamento dei servizi deve rispettare quanto stabilito dall'"}}<a href="http://www.agid.gov.it/sites/default/files/documentazione/spid-avviso-n6-note-sul-dispiegamento-di-spid-presso-i-gestori-di-servizi-v1.pdf" target="_blank">{{_ "Avviso n. 6"}}</a>. {{_ "Gli attributi richiesti per l'erogazione di ogni servizio online, inoltre, devono essere attinenti e non eccedenti."}}
                            </p>
                        </li> 
                        <li class="u-margin-r-bottom">
                            <a name="procedura-tecnica-4" style="padding-top: 110px; margin-top: -110px;"></a>
                            <p class="Prose u-layout-prose">
                                {{_ "Verifica autonomamente la correttezza del metadata e la tua implementazione. E’ possibile verificare che la propria implementazione sia conforme ai requisiti tecnici utilizzando in locale l’ambiente di test scaricabile al repository"}} <a href="https://github.com/italia/spid-testenv2" target="_blank">https://github.com/italia/spid-testenv2</a> 
                                
                                {{_ "ovvero online all'indirizzo"}} <a target="_blank" href="https://idp.spid.gov.it">https://idp.spid.gov.it</a>. 
                                
                                {{_ "In particolare occorre verificare il corretto funzionamento in relazione ad ognuno dei test indicati nel seguente documento"}} <a href="/assets/download/SPID_QAD.pdf" target="_blank">{{_ "SPID Quality Assessment Document"}}</a>. 
                                
                                <br/>{{_ "Per utilizzare l'ambiente di test online occorre registrare il proprio metadata all'indirizzo"}} <a target="_blank" href="https://idp.spid.gov.it/admin/databasesprecord/">https://idp.spid.gov.it/admin/databasesprecord/</a>

                                <br/>{{_ "Essendo l'ambiente di test online pubblico, i metadati registrati sono pubblicamente visibili."}}
                                
                                {{_ "Per maggiori informazioni circa l'utilizzo dell'ambiente di test o per segnalare eventuali problemi fare riferimento al repository ufficiale GitHub." }}.<br/><br/>
                                
                                <b>{{_ "Accertati del corretto funzionamento della tua implementazione prima di richiedere ad AgID la verifica tecnica."}}</b>.
                            </p>
                        </li>
                        <li class="u-margin-r-bottom">
                            <a name="procedura-tecnica-5" style="padding-top: 110px; margin-top: -110px;"></a>
                            <p class="Prose u-layout-prose">
                                {{_ "Rendi disponibile il metadata su una url 'https' del tuo dominio e inserisci tra gli IdP del bottone “Entra con SPID” un ulteriore IdP del tool SPID Validator, il cui metadata è disponibile alla seguente url:"}} <a href="https://validator.spid.gov.it/metadata.xml" target="_blank">https://validator.spid.gov.it/metadata.xml</a>. {{_ "Quindi, invia una email a"}} <a href="mailto:spid.tech@agid.gov.it">spid.tech@agid.gov.it</a> {{_ "indicando le seguenti informazioni:"}}

                                <br>
                                <br>{{_ "a) Nome ente;"}}
                                <br>{{_ "b) Url del metadata;"}}
                                <br>{{_ "c) Se si tratta di aggiornamento o nuovo metadata;"}}
                                <br>{{_ "d) Url del servizio al quale è presente in bottone “Entra con SPID” con il collegamento a SPID Validator;"}}
                                <br>{{_ "e) Contatto riferimento tecnico;"}}
                                <br>{{_ "f) Contatto referente amministrativo;"}}
                                <br><br>

                                {{_ "AgID provvederà a verificare il metadata ricevuto e la correttezza dell’implementazione. Se necessario, saranno segnalate le modifiche necessarie a garantire il rispetto delle regole tecniche. La verifica condotta da AgID è eseguita tramite la piattaforma SPID SAML Check, di cui fa parte il tool SPID Validator. Il codice della piattaforma SPID SAML Check è disponibile pubblicamente al repository"}} <a href="https://github.com/italia/spid-saml-check" target="_blank">https://github.com/italia/spid-saml-check</a>. {{_ "Se vuoi puoi usarlo preventivamente per evitare che AgID riscontri degli errori. È un tool interno AgID, pertanto non vi è supporto. Il suo utilizzo non è un obbligo ma un’opportunità."}}
                            </p>
                        </li>
                        <li class="u-margin-r-bottom">
                            <a name="procedura-tecnica-6" style="padding-top: 110px; margin-top: -110px;"></a>
                            <p class="Prose u-layout-prose">
                                {{_ "Se AgID richiede delle modifiche dovrai ripetere la procedura a partire dal punto 3."}}
                            </p>
                        </li>
                        <li class="u-margin-r-bottom">
                            <a name="procedura-tecnica-7" style="padding-top: 110px; margin-top: -110px;"></a>
                            <p class="Prose u-layout-prose">
                                {{_ "Se l'invio del metadata e la verifica tecnica danno esito positivo, AgID comunica il metadata agli Identity Provider (IDP). La richiesta di caricamento configurazioni agli IDP è effettuata ogni giorno alle ore 18:00, dal lunedì al venerdì. Di norma, entro un giorno lavorativo, gli IdP provvedono al loro caricamento ed il tuo servizio sarà accessibile tramite SPID."}}
                            </p>
                        </li>
                    </ol>


                    <h3 class="u-text-h3" id="procedura-amministrativa">{{_ "Procedura amministrativa"}}</h3>
                    <a name="procedura-amministrativa" style="padding-top: 110px; margin-top: -110px;"></a>
                    <p>
                        {{_ "Completata la procedura tecnica, AgID invierà al referente amministrativo, indicato al punto 5.f, copia della convenzione da restituire compilata e sottoscritta con firma elettronica qualificata via PEC a"}} <a href="mailto:protocollo@pec.agid.gov.it">{{_ "protocollo@pec.agid.gov.it"}}</a>. 
                        {{_ "Entro pochi giorni ti tornerà controfirmata dal Direttore Generale di AgID."}} 
                        {{_ "Se non provvederai a restituire la convenzione firmata entro 30 giorni solari prendi immediati contatti con AgID per concordare altro termine, altrimenti i tuoi servizi saranno tolti dalla federazione e non saranno più accessibili con SPID."}}
                        <br><br>
		              </p>


                    <h3 class="u-text-h3" id="supporto-tecnico">{{_ "Supporto tecnico e amministrativo"}}</h3>
                    <p>
                        {{_ "Se hai bisogno di supporto nella fase di adeguamento dei tuoi sistemi a SPID puoi richiederlo o cercare le risposte e soluzioni già fornite sul "}}<a href="https://github.com/italia/spid" target="_blank">{{_ "sistema di supporto"}}</a> {{_ "dedicato."}}
                    </p>

                    <h3 class="u-text-h3" id="riepilogo">{{_ "Riepilogo"}}</h3>
                    <h4 class="u-text-h4">{{_ "I principali interventi tecnici che ti verranno chiesti"}}</h4>
                    <ol class="Prose Bullets">
                        <li class="u-margin-r-bottom">
                            <p class="Prose u-layout-prose">
                                {{_ "Interventi di implementazione del sistema SPID, utilizzando SAML2, nei propri applicativi web;"}}
                            </p>
                        </li>
                        <li class="u-margin-r-bottom">
                            <p class="Prose u-layout-prose">
                                {{_ "Consegna di un metadata, come da regole tecniche e successivi avvisi, per la configurazione dei propri servizi presso gli IDP."}}
                            </p>
                        </li>
                    </ol>
                    <h4 class="u-text-h4">{{_ "Le figure di riferimento necessarie per concludere  il processo di adesione a SPID"}}</h4>
                    <ol class="Prose Bullets">
                        <li class="u-margin-r-bottom">
                            <p class="Prose u-layout-prose">
                                {{_ "Referente tecnico per tutte le attività di implementazione del sistema di autenticazione SPID;"}}
                            </p>
                        </li>
                        <li class="u-margin-r-bottom">
                            <p class="Prose u-layout-prose">
                                {{_ "Rappresentante legale per la firma della convenzione."}}
                            </p>
                        </li>
                    </ol>
                    <h3 class="u-text-h3" id="riferimenti">{{_ "Riferimenti"}}</h3>
                    <h4 class="u-text-h4">{{_ "Normativa (DPCM 24 ottobre 2014)"}}</h4>
                    <p>
                        <a href="http://www.agid.gov.it/agenda-digitale/infrastrutture-architetture/spid" target="_blank">{{_ "Documentazione e regole tecniche"}}</a><br>
                        <a href="http://www.agid.gov.it/agenda-digitale/infrastrutture-architetture/spid/avvisi" target="_blank">{{_ "Avvisi"}}</a><br>
                        <a href="http://www.spid.gov.it/assets/res/agid-spid-lg-interfacce-informazioni-idp-sp.pdf" target="_blank">{{_ "Linee guida interfacce e informazioni SPID per IdP e Sp"}}</a><br>
                        <a href="https://github.com/italia" target="_blank">{{_ "Repository Github Italia"}}</a>
                    </p>
                    <h3 class="u-text-h3" id="convenzionesoggettipubblici">{{_ "Convenzione per soggetti pubblici"}}</h3>
                    <p>
                        <a href="http://www.agid.gov.it/sites/default/files/circolari/14_-_dt_dg_n._14_-_25_gen_2018_-_approvazione_schema_nuova_convenzione_sppa_spid-prt-allegato1.pdf" target="_blank">{{_ "Determinazione AGID N. 14-2018 Convenzione SPID tra AgID e Pubbliche Amministrazioni"}}</a><br/><br/>
                        <a href="/assets/download/Schema_convenzione_Determina n._14_2018.pdf" target="_blank">{{_ "Schema Convenzione Determinazione AGID N. 14-2018"}}</a>
                    </p>
                    <h3 class="u-text-h3" id="convenzioneperprivatieallegati">{{_ "Convenzione per privati e allegati"}}</h3>
                    <p>
                        <a href="https://www.agid.gov.it/sites/default/files/repository_files/166_-_dt_dg_n._166_-_21_giu_2019_-_approvazione_nuovi_schemi_convenzioni_spid.pdf" target="_blank">{{_ "Determinazione AGID N. 166-2019 - Convenzione Service Provider Privati e Gestori Identità"}}</a><br><br>
                        <a href="https://www.agid.gov.it/sites/default/files/repository_files/schema_convenzione_idp-_dt_n._166_-_2019_1.pdf" target="_blank">{{_ "DT 166-2019 - Convenzione Gestori di Identità SPID"}}</a><br><br>
                        <a href="https://www.agid.gov.it/sites/default/files/repository_files/schema_convenzione_sp_privato_dt_n_166_2019_0.pdf" target="_blank">{{_ "DT 166-2019 - Convenzione Fornitori di servizi Privati SPID"}}</a><br><br>
                        <a href="https://www.agid.gov.it/sites/default/files/repository_files/allegato_1_dt_166_addendum_0.pdf" target="_blank">{{_ "Allegato 1 alla DT 166-2019 - Addendum"}}</a><br><br>
                        <a href="https://www.agid.gov.it/sites/default/files/repository_files/allegato_2_dt_166_contratto_0.pdf" target="_blank">{{_ "Allegato 2 alla DT 166-2019 - Contratto"}}</a><br><br>
                        <a href="https://www.agid.gov.it/sites/default/files/repository_files/allegato_3_dt_166_indicatori_qualita_e_livelli_servizio-v.2.0_0.pdf" target="_blank">{{_ "Allegato 3 alla DT 166-2019 - Livelli di servizio"}}</a><br><br>
                        <a href="https://www.agid.gov.it/sites/default/files/repository_files/allegato_4_dt_166_corrispettivi_spid_idp_2019_0.pdf" target="_blank">{{_ "Allegato 4 alla DT 166-2019 - Corrispettivi autenticazione SPID SP Privati"}}</a>
		    </p>
                </section>
            </div>
        </div>
    </div>
</div>
