<div class="u-layout-wide u-padding-top-s u-layoutCenter u-layout-withGutter">
	<p class="u-text-secondary" style="text-align:right"><small>{{_ "data ultima modifica:"}} {{ lastModifiedDate }}</small></p>
</div>

<div class="u-padding-r-top">
    <div class="u-layout-medium u-layoutCenter u-margin-bottom-xxl u-layout-withGutter">
        <section class="u-margin-top-xxl u-padding-left-l u-padding-right-l">
            <h2 class="u-text-h2 u-margin-bottom-xxs">{{_ "FAQ – Domande frequenti"}}</h2>
                <div class="Accordion fr-accordion js-fr-accordion" id="accordion-1">
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-1">
                        <span id="cos-e-spid"></span>
                        <a class="external-link" href="/domande-frequenti#cos-e-spid" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">{{_ "Cos’è SPID?"}}</span></a>
                    </h2>
                    <div id="accordion-panel-1" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                            {{_ "SPID è il sistema di autenticazione che permette a cittadini ed imprese di accedere ai servizi online della pubblica amministrazione e dei privati aderenti con un’identità digitale unica. L’identità SPID è costituita da credenziali (nome utente e password) che vengono rilasciate all’utente e che permettono l’accesso a tutti i servizi online."}}
                        </p>
                        <p class="Prose u-padding-all-s u-layout-prose">
                            {{_ "Il tesserino della tessera sanitaria o del codice fiscale costituiscono ulteriori elementi a supporto del processo di verifica dell’identità che concorrono a contrastare, grazie alla verifica dell’autenticità degli stessi su basi dati nazionali non pubbliche, il furto di identità."}}
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-2">
                        <span id="quali-documenti-mi-servono-per-poter-richiedere-spid"></span>
                        <a class="external-link" href="/domande-frequenti#quali-documenti-mi-servono-per-poter-richiedere-spid" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">{{_ "Quali documenti mi servono per poter richiedere SPID?"}}</span></a>
                    </h2>
                    <div id="accordion-panel-2" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            {{_ "Per richiedere e ottenere le tue credenziali SPID hai bisogno di: un documento di identità valido (carta di identità, passaporto o permesso di soggiorno) e la tua tessera sanitaria (o il tesserino del codice fiscale attualmente rilasciato). Ti servirà anche: un indirizzo e-mail e il numero di telefono del cellulare che usi normalmente (anche se non sei tu l’intestatario del contratto)."}}
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-3">
                        <span id="a-chi-mi-devo-rivolgere-e-cosa-devo-fare-per-ottenere-spid"></span>
                        <a class="external-link" href="/domande-frequenti#a-chi-mi-devo-rivolgere-e-cosa-devo-fare-per-ottenere-spid" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">{{_ "A chi mi devo rivolgere e cosa devo fare per ottenere SPID?"}}</span></a>
                    </h2>
                    <div id="accordion-panel-3" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            {{_ "Per ottenere le tue credenziali SPID devi rivolgerti a Aruba, Infocert, Intesa, Namirial, Poste, Register, Sielte, Tim o Lepida. Questi soggetti (detti identity provider) ti offrono diverse modalità per richiedere e ottenere SPID, puoi scegliere quella più adatta alle tue esigenze. Tutte le informazioni su dove e come chiedere le tue credenziali SPID sul sito"}} <a href="http://www.spid.gov.it/richiedi-spid">spid.gov.it/richiedi-spid</a>.
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-4">
                        <span id="spid-e-gratuito"></span>
                        <a class="external-link" href="/domande-frequenti#spid-e-gratuito" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">{{_ "SPID è gratuito?"}}</span></a>
                    </h2>
                    <div id="accordion-panel-4" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            {{_ "Si, puoi richiedere gratuitamente le tue credenziali SPID a uno dei soggetti abilitati (Aruba, Infocert, Intesa, Namirial, Poste, Register, Sielte, Tim o Lepida)."}}<br>
                            {{_ "Aruba, Infocert, Poste, Tim e Lepida oltre alla modalità di erogazione gratuita, offrono anche modalità di registrazione a pagamento. Tutte le informazioni su dove e come chiedere le tue credenziali SPID sul sito"}} <a href="http://www.spid.gov.it/richiedi-spid">spid.gov.it/richiedi-spid</a>.
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-5">
                        <span id="esistono-anche-altre-modalita-per-ottenere-spid"></span>
                        <a class="external-link" href="/domande-frequenti#esistono-anche-altre-modalita-per-ottenere-spid" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">{{_ "Esistono anche altre modalità per ottenere SPID?"}}</span></a>
                    </h2>
                    <div id="accordion-panel-5" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            {{_ "Si, esiste anche un’altra modalità che prevede l’utilizzo di firma digitale, carta d’identità elettronica (CIE) o carta nazionale dei servizi (CNS) Ricorda che in questo hai bisogno di un lettore di smart card da collegare al computer e che la CIE e la CNS devono essere preventivamente abilitate per l’utilizzo dei servizi online."}}<br>
                            {{_ "Se sei in possesso di CIE, CNS o firma digitale puoi completare la procedura online con Aruba, Infocert, Poste Italiane, Sielte, Tim e Lepida. Se disponi di CNS o firma digitale puoi scegliere anche tra Namirial e Register. Se disponi di firma digitale puoi scegliere Intesa."}}
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-6">
                        <span id="ci-sono-differenze-tra-i-soggetti-a-cui-posso-decidere-di-richiedere-spid"></span>
                        <a class="external-link" href="/domande-frequenti#ci-sono-differenze-tra-i-soggetti-a-cui-posso-decidere-di-richiedere-spid" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">{{_ "Ci sono differenze tra i soggetti a cui posso decidere di richiedere SPID?"}}</span></a>
                    </h2>
                    <div id="accordion-panel-6" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            {{_ "Le credenziali SPID rilasciate da Aruba, Infocert, Intesa, Namirial, Poste, Register, Sielte, Tim e Lepida sono uguali. Puoi scegliere liberamente il soggetto che ti permette di completare la procedura di registrazione in maniera per te più semplice. Ad esempio verifica qual è l’ufficio per il completamento della registrazione più vicino a casa tua così potrai risparmiare tempo."}}
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-7">
                        <span id="chi-puo-richiedere-spid"></span>
                        <a class="external-link" href="/domande-frequenti#chi-puo-richiedere-spid" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">{{_ "Chi può richiedere SPID?"}}</span></a>
                    </h2>
                    <div id="accordion-panel-7" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            {{_ "SPID può essere richiesto da tutti i cittadini italiani - o dotati di permesso di soggiorno e residenti in Italia - che abbiano compiuto il 18°anno di età."}}<br>
                            {{_ "Solo dal giorno del tuo diciottesimo compleanno è possibile richiedere le credenziali SPID."}}
                        </p>
                    </div>

                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-8">
                        <span id="puo-avere-spid-anche-un-cittadino-italiano-residente-all-estero"></span>
                        <a class="external-link" href="/domande-frequenti#puo-avere-spid-anche-un-cittadino-italiano-residente-all-estero" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">{{_ "Può avere SPID anche un cittadino italiano residente all’estero?"}}</span></a>
                    </h2>
                    <div id="accordion-panel-8" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            {{!--
                            {{_ "Se vivi fuori dall'Italia puoi ottenere l'identità digitale SPID."}}<br><br>
                            {{_ "Aruba PEC ("}} <a href="https://www.spid.cloud/">ArubaID</a> {{_ ") accetta qualsiasi operatore mobile stabilito nell'Unione Europea e non è necessario avere un domicilio sul territorio italiano;"}}<br><br>
			                {{_ "Infocert ("}} <a href="https://identitadigitale.infocert.it/">Infocert ID</a> {{_ ") accetta qualsiasi operatore mobile di tutto il mondo e non è necessario avere un domicilio sul territorio italiano;"}}<br><br>
                            {{_ "Intesa ("}} <a href="https://www.intesa.it/intesaid/">Intesa ID</a> {{_ ") accetta qualsiasi operatore mobile di tutto il mondo e non è necessario avere un domicilio sul territorio italiano;"}}<br><br>
                            {{_ "Namirial ("}} <a href="https://www.namirialtsp.com/spid/">NamirialID</a> {{_ ") accetta qualsiasi operatore mobile di tutto il mondo, non richiede un domicilio sul territorio italiano e fornisce l'identità digitale solo ai cittadini dotati di Carta Nazionale dei Servizi, oppure della nuova Carta di identità elettronica o di firma elettronica qualificata."}}<br><br>
                            {{_ "Register.it ("}} <a href="https://www.register.it/spid/">SpidItalia</a> {{_ ") accetta qualsiasi operatore mobile stabilito nell'Unione Europea e non è necessario avere un domicilio sul territorio italiano;"}}<br><br>
                            {{_ "Con Sielte ("}} <a href="http://registrati.sielteid.it/">SielteID</a> {{_ ") puoi utilizzare qualsiasi operatore mobile di tutto il mondo e non è necessario avere un domicilio sul territorio italiano;"}}<br><br>
			                {{_ "Altri gestori saranno elencati non appena operativi."}}<br><br>
                            {{_ "I documenti necessari per la registrazione: tessera sanitaria con codice fiscale e un documento d’identità valido (uno tra carta d’identità o passaporto rilasciati da un'autorità italiana). In assenza della tessera sanitaria, si potrà esibire il tesserino del codice fiscale (quello che nel retro riporta il “Numero di identificazione della tessera”) o, se sprovvisti di codice fiscale, se ne potrà fare richiesta all’Agenzia delle Entrate per il tramite dell’Ufficio consolare di riferimento (per maggiori informazioni: "}}<a href="http://www.esteri.it/mae/it/italiani_nel_mondo/serviziconsolari/codice_fiscale.html">http://www.esteri.it/mae/it/italiani_nel_mondo/serviziconsolari/codice_fiscale.html</a>{{_ " ). Farà in tal caso fede il certificato prodotto dall’Agenzia delle Entrate contenente il codice fiscale, vidimato dall’Ufficio consolare."}} 
                            --}}
                            
                            {{_ "Sì, puoi ottenere l'identità digitale SPID anche se sei residente all’estero." }}<br/><br/>
                            {{_ "Puoi richiederla a uno degli Identity provider indicati sul sito SPID nella pagina" }} <a href="https://www.spid.gov.it/richiedi-spid">https://www.spid.gov.it/richiedi-spid</a>
                            {{_ "che coprono l’area geografica di tuo interesse rappresentata dalle icone" }}
                            <img class="icon-world" src="/assets/img/richiedi-spid/badge_world.png" alt="icona Mondo" />{{_ "(Mondo)" }},
                            <img class="icon-eu" src="/assets/img/richiedi-spid/badge_eu.png" alt="icona Unione Europea" />{{_ "(Unione europea)"}}.<br/><br/>
                            {{_ "Per ottenerla devi semplicemente fornire: il tuo numero di cellulare, anche se il tuo abbonamento è sottoscritto con un operatore mobile estero, un indirizzo e-mail, un documento di identità italiano valido tra cui carta di identità, passaporto, patente e un documento che certifichi il tuo codice fiscale." }}<br/><br/>
                            {{_ "Tutte le informazioni su dove e come chiedere le tue credenziali SPID nella pagina Richiedi SPID." }}
                        </p>                        
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-9">
                        <span id="come-vengono-trattati-i-dati-che-fornisco-per-richiedere-spid"></span>
                        <a class="external-link" href="/domande-frequenti#come-vengono-trattati-i-dati-che-fornisco-per-richiedere-spid" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">{{_ "Come vengono trattati i dati che fornisco per richiedere SPID?"}}</span></a>
                    </h2>
                    <div id="accordion-panel-9" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            {{_ "I dati personali che comunicherai a Aruba, Infocert, Intesa, Namirial, Poste, Register, Sielte, Tim o Lepida per richiedere SPID, non verranno utilizzati a scopo commerciale."}}<br>
                            {{_ "Gli Identity Provider non possono utilizzare i dati personali dell’utente né cederli a terze parti senza autorizzazione da parte dell’utente stesso. Al momento della registrazione dovranno essere esplicitamente distinti i dati necessari all’ottenimento dell’identità digitale SPID dalle ulteriori informazioni - non obbligatorie - che il gestore di identità potrà eventualmente richiedere. L’Agenzia per l’Italia Digitale vigila sul rispetto delle norme in collaborazione con il Garante per la Privacy, sia per ciò che concerne l’attività degli identity provider, sia per quanto riguarda i servizi messi a disposizione da pubbliche amministrazioni e privati."}}<br>
                            {{_ "Con SPID la tua privacy è totalmente garantita."}}
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-10">
                        <span id="ho-perso-le-mie-credenziali-spid-cosa-devo-fare-per-farmele-rimandare"></span>
                        <a class="external-link" href="/domande-frequenti#ho-perso-le-mie-credenziali-spid-cosa-devo-fare-per-farmele-rimandare" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">{{_ "Ho perso le mie credenziali SPID, cosa devo fare per farmele rimandare?"}}</span></a>
                    </h2>
                    <div id="accordion-panel-10" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s faq-text u-layout-prose">
                            {{_ "Non ti preoccupare, è sempre possibile recuperare le tue credenziali."}}<br><br>
                            - {{_ "Se hai richiesto SPID a"}} <strong>{{_ "Aruba"}}</strong> {{_ "segui la procedura di recupero qui:"}} <a href="http://guide.pec.it/spid/recupero-dati/procedure-di-recupero-dati-smarriti.aspx" target="blank_">http://guide.pec.it/spid/recupero-dati/procedure-di-recupero-dati-smarriti.aspx</a>
                            <br><br>
                            - {{_ "Se hai richiesto SPID a"}} <strong>{{_ "Infocert"}}</strong> {{_ "segui la procedura di recupero qui:"}} <a href="https://my.infocert.it/selfcare/#/recoveryPin" target="blank_">https://my.infocert.it/selfcare/#/recoveryPin</a>
                            <br><br>
                            - {{_ "Se hai richiesto SPID a"}} <strong>{{_ "Namirial"}}</strong> {{_ "segui la procedura di recupero qui:"}} <a href="https://portale.namirialtsp.com/private/user/spid_reset.php">https://portale.namirialtsp.com/private/user/spid_reset.php</a>
                            <br><br>
                            - {{_ "Se hai richiesto SPID a"}} <strong>{{_ "Intesa"}}</strong> {{_ "segui la procedura di recupero qui:"}} <a href="https://spid.intesa.it/area-privata/forgot-password.aspx">https://spid.intesa.it/area-privata/forgot-password.aspx</a>
                            <br><br>                            
                            - {{_ "Se hai richiesto SPID a"}} <strong>{{_ "Poste"}}</strong> {{_ "segui la procedura di recupero qui:"}}
                            <a href="https://posteid.poste.it/recuperocredenziali.shtml" target="blank_">https://posteid.poste.it/recuperocredenziali.shtml</a>
                            <br><br>
                            - {{_ "Se hai richiesto SPID a"}} <strong>{{_ "Register"}}</strong> {{_ "segui la procedura di recupero qui:"}}<br>
                            ({{_ "username dimenticata"}}) <a href="https://spid.register.it/selfcare/recovery/username" target="blank_">https://spid.register.it/selfcare/recovery/username</a><br>
                            ({{_ "password dimenticata"}}) <a href="https://spid.register.it/selfcare/recovery/password" target="blank_">https://spid.register.it/selfcare/recovery/password</a>
                            <br><br>                            
                            - {{_ "Se hai richiesto SPID a"}} <strong>{{_ "Sielte"}}</strong> {{_ "segui la procedura di recupero qui:"}}<br>
                            ({{_ "password dimenticata"}}) <a href="https://myid.sieltecloud.it/profile/recovery/forgotPassword" target="blank_">https://myid.sieltecloud.it/profile/recovery/forgotPassword</a>
                            <br><br>
                            - {{_ "Se hai richiesto SPID a"}} <strong>{{_ "Tim"}}</strong> {{_ "segui la procedura di recupero qui:"}}<br>
                            ({{_ "username dimenticata"}}) <a href="https://login.id.tim.it/mps/fu.php" target="blank_">https://login.id.tim.it/mps/fu.php</a><br>
                            ({{_ "password dimenticata"}})   <a href="https://login.id.tim.it/mps/fp.php" target="blank_">https://login.id.tim.it/mps/fp.php</a>
                            <br><br>
                            - {{_ "Se hai richiesto SPID a"}} <strong>{{_ "Lepida"}}</strong> {{_ "segui la procedura di recupero qui:"}}<br>
                            <a href="https://id.lepida.it/idm/app/recupero_credenziali.jsp" target="blank_">https://id.lepida.it/idm/app/recupero_credenziali.jsp</a>
                            <br><br>                            
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-11">
                        <span id="in-futuro-potranno-esserci-altri-gestori-di-identita"></span>
                        <a class="external-link" href="/domande-frequenti#in-futuro-potranno-esserci-altri-gestori-di-identita" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">
                            {{_ "In futuro potranno esserci altri gestori di identità?"}}
                        </span></a>
                    </h2>
                    <div id="accordion-panel-11" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                            {{_ "Si, qualunque soggetto in possesso dei requisiti previsti dalle norme può fare richiesta di accreditamento all’Agenzia per l’Italia Digitale."}}
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-12">
                        <span id="che-differenze-ci-sono-fra-i-tre-livelli-di-sicurezza-delle-credenziali-spid"></span>
                        <a class="external-link" href="/domande-frequenti#che-differenze-ci-sono-fra-i-tre-livelli-di-sicurezza-delle-credenziali-spid" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">
                            {{_ "Che differenze ci sono fra i tre livelli di sicurezza delle credenziali SPID?"}}
                        </span></a>
                    </h2>
                    <div id="accordion-panel-12" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                            - {{_ "Il primo livello permette di accedere ai servizi online attraverso un nome utente e una password scelti dall’utente."}}<br>
                            - {{_ "Il secondo livello – necessario per servizi che richiedono un grado di sicurezza maggiore - permette l’accesso attraverso un nome utente e una password scelti dall’utente, più la generazione di un codice temporaneo di accesso (one time password)."}}<br>
                            - {{_ "Il terzo livello, oltre al nome utente e la password, richiede un supporto fisico (es. smart card) per l’identificazione."}}
                        </p>
                    </div>

                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-13">
                        <span id="posso-annullare-la-richiesta-dell-identita-ad-un-identity-provider-e-sceglierne-un-altro"></span>
                        <a class="external-link" href="/domande-frequenti#posso-annullare-la-richiesta-dell-identita-ad-un-identity-provider-e-sceglierne-un-altro" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">
                          {{_ "Posso annullare la richiesta dell’identità ad un identity provider e sceglierne un altro?"}}
                        </span></a>
                    </h2>
                    <div id="accordion-panel-13" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                          {{_ "Si, in ogni momento è possibile annullare la procedura di registrazione avviata con ciascun gestore d’identità senza alcun tipo di obbligo o conseguenza. Per avere indicazioni specifiche sulla procedura da seguire puoi contattare i singoli gestori di identità. In ogni caso, puoi richiedere la tua identità digitale a un altro operatore anche senza aspettare l’annullamento della registrazione precedente."}}
                        </p>
                    </div>

                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-14">
                        <span id="e-possibile-avere-piu-di-una-identita-digitale"></span>
                        <a class="external-link" href="/domande-frequenti#e-possibile-avere-piu-di-una-identita-digitale" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">
                            {{_ "È possibile avere più di una identità digitale?"}}
                        </span></a>
                    </h2>
                    <div id="accordion-panel-14" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                            {{_ "Sì, è possibile richiedere più di una identità digitale – anche con diversi livelli di sicurezza – con l’opportunità di rivolgersi a differenti gestori di identità digitale. Ogni cittadino è libero di scegliere l’identity provider che preferisce."}}
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-15">
                        <span id="una-societa-puo-ottenere-spid"></span>
                        <a class="external-link" href="/domande-frequenti#una-societa-puo-ottenere-spid" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">
                          {{_ "Una società può ottenere SPID ?"}}
                        </span></a>
                    </h2>
                    <div id="accordion-panel-15" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                          {{_ "Al momento il responsabile legale della società può richiedere e utilizzare la propria identità digitale per accedere e utilizzare i servizi online dedicati all’impresa."}}
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-17">
                        <span id="qual-e-la-differenza-tra-spid-e-la-carta-nazionale-dei-servizi"></span>
                        <a class="external-link" href="/domande-frequenti#qual-e-la-differenza-tra-spid-e-la-carta-nazionale-dei-servizi" onclick="return false;"><span class="Accordion-link u-lineHeight-l ">
                            {{_ "Qual è la differenza tra SPID e la Carta Nazionale dei Servizi?"}}
                        </span></a>
                    </h2>
                    <div id="accordion-panel-17" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                            {{_ "I due strumenti hanno usi e scopi in parte diversi e in questa prima fase di implementazione del sistema SPID coesisteranno."}}<br>
                            {{_ "A differenza della Carta Nazionale dei Servizi - che non è completamente dematerializzata - per l’uso dell’identità SPID non è necessario alcun lettore di carte e può essere utilizzata in diverse modalità (da computer fisso o da mobile)."}}
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-18">
                        <span id="i-cittadini-che-gia-hanno-strumenti-di-accesso-ai-servizi-della-pa-potranno-utilizzare-ancora-questi-strumenti-una-volta-ricevuto-spid"></span>
                        <a class="external-link" href="/domande-frequenti#i-cittadini-che-gia-hanno-strumenti-di-accesso-ai-servizi-della-pa-potranno-utilizzare-ancora-questi-strumenti-una-volta-ricevuto-spid" onclick="return false;"><span class="u-lineHeight-l Accordion-link u-layout-prose">
                            {{_ "I cittadini che già hanno strumenti di accesso ai servizi della PA (Carta Nazionale dei Servizi, registrazioni presso singoli siti, ...) potranno utilizzare ancora questi strumenti una volta ricevuto SPID?"}}
                        </span></a>
                    </h2>
                    <div id="accordion-panel-18" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                            {{_ "Nella prima fase di avvio del sistema pubblico di identità digitale la necessità è quella di far coesistere il sistema di autenticazione tramite SPID con quelli già esistenti."}}<br>
                            {{_ "La progressiva implementazione del sistema da parte della pubblica amministrazione farà si che tutti i servizi online siano accessibili tramite SPID."}}
                        </p>
                    </div>
                    <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-19">
                        <span id="in-questa-lista-di-domande-frequenti-non-ho-trovato-la-risposta-al-mio-quesito"></span>
                        <a class="external-link" href="/domande-frequenti#in-questa-lista-di-domande-frequenti-non-ho-trovato-la-risposta-al-mio-quesito" onclick="return false;"><span class="u-lineHeight-l Accordion-link u-layout-prose">
                            {{_ "In questa lista di 'domande frequenti' non ho trovato la risposta al mio quesito"}}
                        </span></a>
                    </h2>
                    <div id="accordion-panel-19" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                        <p class="Prose u-padding-all-s u-layout-prose">
                            {{_ "Se hai già cominciato la procedura di richiesta delle credenziali SPID e hai un problema specifico con Aruba, Infocert, Intesa, Lepida, Namirial, Poste, Register, Sielte o Tim puoi rivolgerti ai call center dell’identity provider che hai scelto. Qui trovi i numeri:"}} <a href="http://www.spid.gov.it/serve-aiuto">www.spid.gov.it/serve-aiuto</a>.<br><br>
                            {{_ "Per domande generiche o assistenza sulle modalità di ottenimento di SPID puoi" }}
                            <a href="http://helpdesk.spid.gov.it/">{{_ "scriverci"}}</a>{{_ ", ti risponderemo al più presto."}}
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
