<section class="u-padding-top-s">
	<div class="u-layout-wide u-layoutCenter u-layout-withGutter">
		<section class="Grid">
			<div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-padding-all-l">
				<h2 class="u-text-h2 u-margin-bottom-xs">{{_ "SPID"}}</h2>

				<p class="u-text-r-m u-lineHeight-l u-textSecondary">
					{{_ "SPID, il Sistema Pubblico di Identità Digitale, è la soluzione che ti permette di accedere a tutti i servizi online della Pubblica Amministrazione con un'unica Identità Digitale (username e password) utilizzabile da computer, tablet e smartphone." }}
				</p>

				<p class="Prose u-padding-r-top">
					<a class="u-textClean u-linkComplex" href="/richiedi-spid">
						<span class="Button Button--default u-text-r-s u-lineHeight-l u-margin-r-top u-margin-r-bottom u-textClean">
	                    				{{_ "Richiedi SPID"}}
	                  			</span>
					</a>
				</p>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-padding-all-l">
				<div class="FlexEmbed">
					<div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
					<iframe class="FlexEmbed-content" allowfullscreen src="https://www.youtube-nocookie.com/embed/i2eTL_Q2xfM?rel=0&amp;showinfo=0"></iframe>
				</div>
			</div>
		</section>

	</div>
</section>

<section class="u-text-r-xxl u-padding-r-all">
	<div class="u-padding-r-top u-layoutCenter u-layout-medium u-border-top-xxs u-color-grey-30">
		<div class="Grid u-padding-r-bottom u-margin-r-bottom">
			<h2 id="carousel-heading" class="Grid-cell u-text-h4 u-color-black u-layout-centerLeft_">{{_ "Guarda i tutorial"}}</h2>
		</div>
		<div class="Grid Grid--withGutter">
			<div class="Grid-cell u-md-size1of3 u-lg-size1of3">
				<a class="u-textClean u-linkComplex" href="https://www.youtube.com/watch?v=vffDgy_wPU4" target="_blank">
					<span class="Button Button--info Button--round u-sizeFull u-text-r-xs u-textClean u-margin-r-bottom">
						{{_ "Riconoscimento di persona"}}
					</span>
				</a>
			</div>
			<div class="Grid-cell u-md-size1of3 u-lg-size1of3">
				<a class="u-textClean u-linkComplex" href="https://www.youtube.com/watch?v=PDzzLTTNg5I" target="_blank">
					<span class="Button Button--info Button--round u-sizeFull u-text-r-xs u-textClean u-margin-r-bottom">
						{{_ "Riconoscimento via webcam"}}
					</span>
				</a>
			</div>
			<div class="Grid-cell u-md-size1of3 u-lg-size1of3">
				<a class="u-textClean u-linkComplex" href="https://www.youtube.com/watch?v=TJLotG7YNYg" target="_blank">
					<span class="Button Button--info Button--round u-sizeFull u-text-r-xs u-textClean u-margin-r-bottom">
						{{_ "Riconoscimento online"}}
					</span>				
				</a>
			</div>
		</div>
	</div>
</section>

<section class="u-text-r-xxl u-background-grey-10 u-padding-r-all">
	<div class="u-padding-r-top u-padding-r-bottom u-layoutCenter u-layout-medium">
		<div class="Grid Grid--withGutter">
			<div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-padding-r-bottom u-margin-r-bottom">
				<h3 class="u-text-h4"><img class="icon-properties" src="assets/img/home/semplice.svg" alt="" /> {{_ "Semplice"}}</h3>
				<p class="u-text-r-xs u-lineHeight-l u-padding-r-right">
					{{_ "Prenotazioni sanitarie, iscrizioni scolastiche, accesso alla rete wi-fi pubblica, pratiche d'impresa..."}}
					<strong class="u-text-r-xs u-lineHeight-l">{{_ "con un’unica password"}}</strong>
				</p>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-padding-r-bottom u-margin-r-bottom">
				<h3 class="u-text-h4"><img class="icon-properties" src="assets/img/home/sicuro.svg" alt="" /> {{_ "Sicuro"}}</h3>
				<p class="u-text-r-xs u-lineHeight-l u-padding-r-right">
					{{_ "Il sistema SPID assicura la piena protezione dei tuoi dati personali, non è consentito alcun tipo di profilazione;"}}
					<strong class="u-text-r-xs u-lineHeight-l">{{_ "la tua privacy è garantita"}}</strong>
				</p>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-padding-r-bottom u-margin-r-bottom">
				<h3 class="u-text-h4"><img class="icon-properties" src="assets/img/home/veloce.svg" alt="" /> {{_ "Veloce"}}</h3>
				<p class="u-text-r-xs u-lineHeight-l u-padding-r-right">
					{{_ "Con SPID puoi accedere velocemente ai servizi online della pubblica amministrazione"}} <strong class="u-text-r-xs u-lineHeight-l">{{_ "ovunque ti trovi e da qualsiasi dispositivo"}}</strong>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="u-layout-medium u-layoutCenter u-padding-r-all u-text-r-xxl u-layout-withGutter  u-padding-r-top u-margin-r-top">
	<h3 class="u-text-h4">{{_ "Come diventare fornitore SPID"}}</h3>
	<div class="Grid Grid--withGutter">
		<div class="Grid-cell u-padding-r-bottom u-sizeFull u-md-size1of2 u-lg-size1of2">
			<span class="u-text-r-s u-lineHeight-l u-color-grey-60">{{_ "Sei una pubblica amministrazione o un privato interessato a diventare fornitore di servizi con SPID ?"}}</span>
		</div>
		<div class="Grid-cell u-padding-r-bottom u-sizeFull u-md-size1of2 u-lg-size1of2">
			<span class="u-text-r-s u-lineHeight-l u-color-grey-60">{{_ "Sei un imprenditore? Scopri come accedere al cassetto digitale"}}</span>
		</div>
	</div>
	<div class="Grid Grid--withGutter">
		<div class="Grid-cell u-md-size1of2 u-lg-size1of2">
			<a href="/come-diventare-fornitore-di-servizi-pubblici-e-privati-con-spid" class="u-textClean u-text-r-m u-color-50"><span class="Button Button--default u-text-r-s u-lineHeight-l u-margin-r-top u-margin-r-bottom u-textClean">{{_ "Scopri come fare"}}</span></a>
		</div>
		<div class="Grid-cell u-md-size1of2 u-lg-size1of2">
			<a href="https://www.youtube.com/watch?v=VBb7C3T6bc8" target="_blank" class="u-textClean u-text-r-m u-color-50"><span class="Button Button--info Button--round u-text-r-xs u-lineHeight-l u-margin-r-top u-margin-r-bottom u-textClean">{{_ "Scopri il cassetto digitale"}}</span></a>
			<a href="https://impresa.italia.it" target="_blank" class="u-textClean u-text-r-m u-color-50"><span class="Button Button--default u-text-r-xs u-lineHeight-l u-margin-r-top u-margin-r-bottom u-textClean">{{_ "Accedi a impresa.italia.it"}}</span></a>
		</div>
	</div>	
</section>

<section class="u-text-r-xxl u-padding-r-right u-padding-r-left u-padding-bottom-l u-layoutCenter u-layout-wide">
	<div class="Grid Grid--withGutter">
		<div class="Grid-cell u-lg-size1of2 u-md-size1of2 u-sm-size1of2 u-margin-r-bottom">
			<div class="u-padding-r-all u-text-r-xxl u-background-50">
				<a href="https://cartadeldocente.istruzione.it" class="u-textClean u-color-white">
					<h2 class="u-textUppercase u-text-r-xl u-textWeight-700 u-padding-bottom-m">{{_ "Carta del docente"}}</h2>
					<p class="u-textWeight-600"><span class="u-text-r-l">{{_ "accedi con SPID"}}</span><br> <span class="u-text-r-m">{{_ "e crea buoni fino a un massimo di 500 €"}}</span></p>
				</a>
			</div>
		</div>
		<div class="Grid-cell u-lg-size1of2 u-md-size1of2 u-sm-size1of2 u-flexAlignSelfStretch u-flex u-margin-r-bottom">
			<div class="u-padding-r-all u-text-r-xxl u-background-teal-30 u-layout-matchHeight u-sizeFull">
				<a href="https://www.18app.italia.it" class="u-textClean u-color-95">
					<h2 class="u-textUppercase u-text-r-xl u-textWeight-700 u-padding-bottom-m">{{_ "18app"}}</h2>
					<p class="u-textWeight-600"><span class="u-text-r-l">{{_ "accedi con SPID"}}</span><br> <span class="u-text-r-m">{{_ "e crea buoni fino a un massimo di 500 €"}}</span></p>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="u-layout-medium u-layoutCenter u-padding-r-all u-text-r-xxl u-layout-withGutter">
	<section class="Grid">
		<div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
			<h3 class="u-text-h4">{{_ "Come riconosci SPID"}}</h3>
			<p class="u-padding-r-top u-margin-r-top">
				<span class="u-text-r-s u-lineHeight-l u-color-grey-60">
					{{_ "Le amministrazioni che consentono l’accesso ai propri servizi online tramite identità digitale unica espongono il bottone di accesso SPID."}}
				</span>
			</p>
		</div>
		<div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
			<a href="/richiedi-spid">
				<img src="assets/img/home/riconosci_spid.svg" alt="Richiedi SPID" class="u-sizeFull u-padding-top-l" style="max-height: 20em" />
			</a>
		</div>
	</section>
</section>

<section class="u-text-r-xxl u-background-grey-10 u-padding-r-all u-layout-withGutter">
        <div class="u-padding-r-top u-padding-r-bottom u-layoutCenter u-layout-medium">
                <div class="Grid Grid--withGutter">
                        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-padding-r-bottom u-margin-r-bottom">
                                <h3 class="u-text-h4"><img class="icon-properties" src="assets/img/spid-level1-icon.svg" alt="" /> {{_ "Livello"}}</h3>
                                <p class="u-text-r-xs u-lineHeight-l u-padding-r-right">
                                {{_ "permette di accedere ai servizi online attraverso un nome utente e una password scelti dall’utente"}}
				</p>
                        </div>
                        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-padding-r-bottom u-margin-r-bottom">
                                <h3 class="u-text-h4"><img class="icon-properties" src="assets/img/spid-level2-icon.svg" alt="" /> {{_ "Livello"}}</h3>
                                <p class="u-text-r-xs u-lineHeight-l u-padding-r-right">
                                {{_ "dedicato ai servizi che richiedono un grado di sicurezza maggiore, consente l’accesso attraverso un nome utente e una password scelti dall’utente, più la generazione di un codice temporaneo di accesso (one time password), fruibile attraverso un dispositivo (es smartphone)"}}
                                </p>
                        </div>
			<div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-padding-r-bottom u-margin-r-bottom">
                                <h3 class="u-text-h4"><img class="icon-properties" src="assets/img/spid-level3-icon.svg" alt="" /> {{_ "Livello"}}</h3>
                                <p class="u-text-r-xs u-lineHeight-l u-padding-r-right">
				{{_ "prevede l’utilizzo di ulteriori soluzioni di sicurezza e di dispositivi fisici (es smart card) che vengono erogati dal gestore dell’identità"}}
                                </p>
                        </div>
                </div>
        </div>
</section>

<br/><br/>

{{> carousel}}

