<section class="u-padding-r-top u-layout-medium u-layoutCenter u-layout-withGutter">

    <h2 id="carousel-heading" class="u-hiddenVisually">{{_ "Infografiche - SPID week"}}</h2>

    <div class="Grid u-margin-r-top">
        <div class="Grid-cell u-md-size1of12 u-lg-size2of12">
            <button class="owl-prev-1 u-padding-right-xxl u-text-r-xl u-color-teal-70 u-zindex-max" aria-controls="carousel-1">
              <span class="u-hiddenVisually">{{_ "Vai alla slide precedente"}}</span>
              <span class="u-alignMiddle Icon Icon-chevron-left u-background-white u-padding-all-xs u-borderRadius-circle u-border-all-xxs" role="presentation"></span>
            </button>
        </div>

        <div class="Grid-cell u-md-size10of12 u-lg-size8of12">
            <div id="customDots" class="owl-dots"></div>
            <div class="owl-carousel owl-theme u-textCenter" role="region" id="carousel-1" tabindex="0" style="margin:auto">

                <div class="Carousel-item u-layoutCenter">
                    <div class="u-textLeft">
                        <img src="assets/img/spid-we/amministrazionei_aderenti.svg" alt="" />
                        <div class="Prose u-padding-r-top">
                            <h3 class="u-text-h3 u-color-grey-80">{{_ "Amministrazioni aderenti"}}</h3>
                            <p class="u-text-p u-color-grey-80">

                              {{_ "Le amministrazioni aderenti a SPID sono 3720. Di cui: 10 amministrazioni centrali, 11 regioni, 10 comuni di grandi dimensioni, 4 università."}}<br>
                              {{_ "Tra le amministrazioni centrali: INPS con 118 servizi, INAIL con 102 servizi, Equitalia con 4 servizi, Agenzia delle Entrate con 2 servizi, Guardia di Finanza con 1 servizio, ACI con 5 servizi, MIUR con 2 servizi, AgCom con 1 servizio."}}<br>
                              {{_ "Tra le amministrazioni locali, il numero di servizi SPID raggiunge: Più di 100 servizi in Puglia, Tra 40 e 99 servizi in Emilia Romagna, Lazio, Toscana e Friuli Venezia Giulia. Meno di 40 servizi in Basilicata, Piemonte, Lombardia e Liguria."}}

                            </p>
                        </div>
                    </div>
                </div>

                <div class="Carousel-item u-layoutCenter" id="servizi-spid-only">
                    <div class="u-textLeft">
                        <img src="assets/img/spid-we/spidonly.svg" alt="" />
                        <div class="Prose u-padding-r-top">
                            <h3 class="u-text-h3 u-color-grey-80">{{_ "Servizi SPID only"}}</h3>
                            <p class="u-text-p u-color-grey-80">

                              {{_ "18APP – 366.813 ragazzi da novembre utilizzano SPID per accedere ad app18 per spendere 500 euro di bonus cultura."}}
                              <br>{{_ "Carta del docente – 399015 docenti con le credenziali SPID hanno utilizzato il bonus di 500 euro a disposizione."}}

                            </p>
                        </div>
                    </div>
                </div>

                <div class="Carousel-item u-layoutCenter" id="spid-cosa-puoi-fare">
                    <div class="u-textLeft">
                        <img src="assets/img/spid-we/cosapuoi_fare_genitore.svg" alt="" />
                        <div class="Prose u-padding-r-top">
                            <h3 class="u-text-h3 u-color-grey-80">{{_ "Cosa puoi fare con SPID"}}</h3>
                            <p class="u-text-p u-color-grey-80">

                              {{_ "Se sei un genitore, con le credenziali SPID puoi:"}}<br>
                              {{_ "Effettuare direttamente l’iscrizione online dei tuoi figli – alle classi prime delle scuole primarie e secondarie di primo e di secondo grado – dal portale iscrizioni.istruzione.it (servizi disponibile nei mesi di gennaio e febbraio)."}}<br>
                              {{_ "Accedere ai servizi online dedicati alla mensa scolastica in Friuli Venezia Giulia o al trasporto scolastico nel comune di Venezia."}}<br>
                              {{_ "In Emilia Romagna, accedere al servizio online per fare domanda per i contributi sui libri di testo per l’anno scolastico."}}

                            </p>
                        </div>
                    </div>
                </div>

                <div class="Carousel-item u-layoutCenter">
                    <div class="u-textLeft">
                        <img src="assets/img/spid-we/cosapuoi_fare_giovani.svg" alt="" />
                        <div class="Prose u-padding-r-top">
                            <h3 class="u-text-h3 u-color-grey-80">{{_ "Cosa puoi fare con SPID"}}</h3>
                            <p class="u-text-p u-color-grey-80">

                              {{_ "Se sei un ragazzo, con le credenziali SPID puoi:"}}<br>
                              {{_ "Se sei nato nel 1998 e hai compiuto 18 anni accedere a 18app e utilizzare i 500 euro del bonus cultura. Accedere alle biblioteche online del comune Roma per consultare quotidiani italiani, esteri e riviste in versione digitale."}}<br>
                              {{_ "Accedere ai servizi online delle università italiane (Sapienza Roma, Università Torino, Politecnico di Milano). Utilizzare il wi-fi pubblico del comune di Venezia, di Verona o degli access point pubblici messi a disposizione in tutta la regione Emilia Romagna."}}

                            </p>
                        </div>
                    </div>
                </div>

                <div class="Carousel-item u-layoutCenter">
                    <div class="u-textLeft">
                        <img src="assets/img/spid-we/cosapuoi_fare_lavoratore.svg" alt="" />
                        <div class="Prose u-padding-r-top">
                            <h3 class="u-text-h3 u-color-grey-80">{{_ "Cosa puoi fare con SPID"}}</h3>
                            <p class="u-text-p u-color-grey-80">

                              {{_ "Se sei un lavoratore, con le credenziali SPID puoi:"}}<br>
                              {{_ "Accedere al tuo 730 online dell’Agenzia delle entrate."}}<br>
                              {{_ "Accedere a tutti i servizi online rivolti al cittadino di Inps (ad esempio al cedolino pensione e a tutti i servizi legati)."}}<br>
                              {{_ "Accedere a tutti i servizi online di Inail (ad es. servizi relativi a infortuni o sicurezza sul lavoro)."}}<br>
                              {{_ "Accedere ai servizi di ACI per calcolare benefit e rimborsi per l’uso di veicoli privati per motivi lavorativi)."}}

                            </p>
                        </div>
                    </div>
                </div>

                <div class="Carousel-item u-layoutCenter">
                    <div class="u-textLeft">
                        <img src="assets/img/spid-we/camere-di-commercio.jpg" alt="" />
                        <div class="Prose u-padding-r-top">
                            <h3 class="u-text-h3 u-color-grey-80">{{_ "SPID Servizi SUAP e Fatturazione elettronica"}}</h3>
                            <p class="u-text-p u-color-grey-80">

                              {{_ "Con SPID accedi ai servizi SUAP in più di 3400 comuni e al servizio di fatturazione elettronica in tutte le Camere di Commercio italiane."}}

                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="Grid-cell u-md-size1of12 u-lg-size2of12">
            <button class="owl-next-1 u-padding-left-xxl u-text-r-xl u-color-teal-70 u-zindex-max" aria-controls="carousel-1">
              <span class="u-hiddenVisually">{{_ "Vai alla slide successiva"}}</span>
              <span class="u-background-white u-alignMiddle Icon Icon-chevron-right u-padding-all-xs u-borderRadius-circle u-border-all-xxs" role="presentation"></span>
            </button>
        </div>

    </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha256-gL1ibrbVcRIHKlCO5OXOPC/lZz/gpdApgQAzskqqXp8=" crossorigin="anonymous"></script>

<script>
    var opts = {
        owlPrev: '.owl-prev-1',
        owlNext: '.owl-next-1',
        owlItem: '.owl-item',
        jsSelector: '.owl-carousel',
        owlOpts: {
            nav: false,
            // navText: ['precedente', 'successivo'],
            items: 1,
            dots: true,
            loop: false,
            margin: 16,
            mouseDrag: true,
            autoHeight: false,
            dotsContainer: '#customDots',
            URLhashListener: true,
            startPosition: 'URLHash',
            responsive: {
                0: {
                    items: 1
                },
                768: {
                    items: 1
                },
                992: {
                    items: 1
                }
            }
        }
    }

    var init = function() {
        var $owl = $(opts.jsSelector)

        $(opts.owlPrev).click(function() {
            $owl.trigger('prev.owl.carousel')
        })
        $(opts.owlNext).click(function() {
            $owl.trigger('next.owl.carousel')
        })

        $owl.on('initialized.owl.carousel changed.owl.carousel refreshed.owl.carousel', function(event) {
            if (!event.namespace) return

            var carousel = event.relatedTarget,
                element = event.target,
                current = carousel.current()

            $(window).scrollTop(0)

            $(opts.owlNext + '[aria-controls=' + element.id + ']')
                .toggleClass('u-visibilityHidden', current === carousel.maximum())

            $(opts.owlPrev + '[aria-controls=' + element.id + ']')
                .toggleClass('u-visibilityHidden', current === carousel.minimum())
        })

        var idx = $('#carousel-1').find(window.location.hash).index();

        // must be called after events initialization
        $owl.owlCarousel(opts.owlOpts)

        if (idx > 0) {
          if (idx) $owl.trigger('to.owl.carousel', [idx, 0 , true]);
          setTimeout(function() { $(window).scrollTop(0) }, 250);
        }

        new Tether({
            element: '.owl-next-1',
            target: '.owl-carousel',
            attachment: 'middle left',
            targetAttachment: 'middle right',
            targetModifier: 'visible',
            constraints: [{
                to: 'window',
                pin: true
            }]
        });

        new Tether({
            element: '.owl-prev-1',
            target: '.owl-carousel',
            attachment: 'middle right',
            targetAttachment: 'middle left',
            targetModifier: 'visible',
            constraints: [{
                to: 'window',
                pin: true
            }]
        });

    }

    $(document).ready(init)
</script>
