<div class="u-padding-r-top">
    <div class="u-layout-medium u-layoutCenter u-margin-bottom-xxl u-layout-withGutter">
        <section class="Grid Grid--withGutter u-margin-top-xxl u-margin-bottom-xxs u-padding-left-l u-padding-right-l">
            <div class="Grid-cell u-sizeFull">
                <h2 class="u-text-h2">{{_ "Press Area"}}</h2>
                <br>
                <p class="u-text-h5 u-margin-bottom-xxs">{{_ "Contatti:"}} stampa@agid.gov.it</p>
            </div>
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-flex u-margin-top-xs">
                <div class="Callout Callout--spid u-text-r-xs u-background-grey-10 u-flexAlignSelfStretch u-sizeFull">
                    <h3 id="comunicati-stampa">{{_ "Comunicati stampa"}}</h3>
                    <ul class="Prose u-layout-prose u-margin-top-xl square-ul">
                        <li class="u-text-r-xs">
                            <p><strong>{{_ "26-07-2016"}}</strong>
                                <br>
                                <a class="u-color-50 u-textClean" href="http://www.agid.gov.it/sites/default/files/ufficio_stampa/spid_accordo_con_mise_e_mibact_per_accesso_unico_a_wi-fi_pubblico._aruba_e_sielte_nuovi_identity_provider_da_settembre.pdf">{{_ "SPID: accordo con MISE e MIBACT per accesso unico a wi-fi pubblico. Aruba e Sielte nuovi identity provider da settembre"}}</a></p>
                        </li>
                        <li class="u-text-r-xs u-margin-top-s">
                            <p><strong>{{_ "29-04-2016"}}</strong>
                                <br>
                                <a class="u-color-50 u-textClean" href="http://www.agid.gov.it/sites/default/files/ufficio_stampa/spid_al_via_la_campagna_istituzionale_per_presentare_il_sistema_pubblico_di_identita_digitale_agli_italiani.pdf">{{_ "SPID: al via la campagna istituzionale"}}</a></p>
                        </li>
                        <li class="u-text-r-xs u-margin-top-s">
                            <p><strong>{{_ "11-04-2016"}}</strong>
                                <br>
                                <a class="u-color-50 u-textClean" href="http://www.agid.gov.it/sites/default/files/ufficio_stampa/spid_al_via_laccesso_con_ununica_identita_digitale_anche_ai_servizi_di_inail_emilia_romagna_friuli_venezia_giulia_e_comune_di_venezia.pdf">{{_ "SPID: al via l'accesso con un'unica identità digitale anche ai servizi di Inail, Emilia Romagna, Friuli Venezia Giulia e Comune di Venezia."}}</a>
                            </p>
                        </li>
                        <li class="u-text-r-xs u-margin-top-s">
                            <p><strong>{{_ "08-03-2016"}}</strong>
                                <br>
                                <a class="u-color-50 u-textClean" href="http://www.agid.gov.it/sites/default/files/ufficio_stampa/comunicato_stampa_-_spid.pdf">{{_ "SPID: dal 15 marzo le prime identità digitali. Entro giugno 600 servizi collegati."}}</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-flex u-margin-top-xs">
                <div class="Callout Callout--spid u-text-r-xs u-background-grey-10 u-flexAlignSelfStretch u-sizeFull">
                    <h3 id="presentazioni">{{_ "Presentazioni"}}</h3>
                    <p>
                        <ul class="Prose u-layout-prose u-margin-top-xl square-ul">
                            <li class="u-text-r-xs">
                                <p><a class="u-color-50 u-textClean" href="assets/res/PresentazioneSPID.pdf">{{_ "SPID: La nuova soluzione per l'accesso ai servizi online."}}</a></p>
                            </li>
                            <li class="u-text-r-xs u-margin-top-s">
                                <p><a class="u-color-50 u-textClean" href="assets/res/SPID-SistemaPubblicoIdentitaDigitale.pdf">{{_ "SPID: cos'è il Sistema Pubblico di Identità Digitale"}}</a></p>
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </section>
        <section class="Grid Grid--withGutter u-padding-left-l u-padding-right-l">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-flex u-margin-top-xs">
                <div class="Callout Callout--spid u-text-r-xs u-background-grey-10 u-flexAlignSelfStretch u-sizeFull">
                    <h3 id="infografiche">{{_ "Infografiche"}}</h3>
                    <p>
                        <div class="Prose Grid u-margin-top-xl u-padding-left-s u-padding-right-s">
                            <div class="Prose Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-margin-top-l u-text-r-xs u-textCenter">
                                <p>
                                    <a class="u-color-50 u-textClean" href="assets/res/semplice-da-usare.zip">
                                        <img src="assets/img/press-area/semplice_da_usare.svg" alt="{{_ 'Semplice da usare'}}" style="width:70%;border:1px solid #cccccc;padding:5px" />
                                        <br> {{_ "Semplice da usare"}}
                                    </a>
                                </p>
                            </div>
                            <div class="Prose Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-margin-top-l u-text-r-xs u-textCenter">
                                <p>
                                    <a class="u-color-50 u-textClean" href="assets/res/risparmio-di-tempo.zip">
                                        <img src="assets/img/press-area/risparmio.svg" alt="{{_ 'Risparmio di tempo'}}" style="width:70%;border:1px solid #cccccc;padding:5px" />
                                        <br> {{_ "Risparmio di tempo"}}
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="Grid u-margin-top-xl u-padding-left-s u-padding-right-s">
                            <div class="Prose Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-margin-top-l u-text-r-xs u-textCenter">
                                <p>
                                    <a class="u-color-50 u-textClean" href="assets/res/come-ottenere-spid.zip">
                                        <img src="assets/img/press-area/spid_in_tre_step.svg" alt="{{_ 'Come ottenere SPID'}}" style="width:70%;border:1px solid #cccccc;padding:5px" />
                                        <br> {{_ "Come ottenere SPID"}}
                                    </a>
                                </p>
                            </div>
                            <div class="Prose Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-margin-top-l u-text-r-xs u-textCenter">
                                <p>
                                    <a class="u-color-50 u-textClean" href="assets/res/cosa-puoi-fare-con-spid.zip">
                                        <img src="assets/img/press-area/servizi.svg" alt="{{_ 'Cosa puoi fare con SPID'}}" style="width:70%;border:1px solid #cccccc;padding:5px" />
                                        <br> {{_ "Cosa puoi fare con SPID"}}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </p>
                </div>
            </div>

            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2 u-flex u-margin-top-xs">
                <div class="Callout Callout--spid u-text-r-xs u-background-grey-10 u-flexAlignSelfStretch u-sizeFull">
                    <h3 id="video">{{_ "Video"}}</h3>
                    <ul class="Prose u-layout-prose u-margin-top-xl square-ul">
                        <li><p><a class="u-color-50 u-textClean" href="assets/res/SPID-VideoPresentazioneAgID.zip">
                                    {{_ "Video di presentazione SPID"}}
                                </a></p></li>
                        <li class="u-margin-top-s"><p><a class="u-color-50 u-textClean" href="assets/res/SPID-20APRILE.zip">
                                    {{_ "Simulazione utilizzo servizi online con SPID"}}
                                </a></p></li>
                    </ul>
                </div>
            </div>

        </section>
    </div>
</div>
