        <div class="u-padding-r-top">
        	<div class="u-layout-medium u-layoutCenter u-margin-bottom-xxl u-layout-withGutter">
        <section>
            <div class="u-padding-left-l u-padding-right-l">
                <h2 class="u-text-h2 u-margin-bottom-xxs">{{_ "INFORMATIVA SUL TRATTAMENTO DEI DATI PERSONALI"}}</h2>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    {{_ "ai sensi degli artt. 13-14 del Regolamento (UE) 2016-679 del Parlamento europeo e del Consiglio"}}<br><br>
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    {{_ "Questa pagina descrive le modalità di trattamento dei dati personali degli utenti che consultano il presente sito web."}}<br>
                    <br>
                    {{_ "Le informazioni rese non riguardano altri siti, pagine o servizi online raggiungibili tramite link ipertestuali pubblicati all’interno del sito ma riferiti a risorse esterne al dominio dell’Agenzia né concernono il trattamento dei dati personali effettuato da parte dei gestori dell’identità digitale."}}<br>
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    <strong>{{_ "Titolare del trattamento dei dati personali"}}</strong>
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    <strong>{{_ "AgID – Agenzia per l’Italia Digitale"}}</strong><br>
                    {{_ "Indirizzo: Via Liszt 21 - 00144 Roma"}}<br>
                    {{_ "Indirizzo PEC:"}} <a href="mailto:protocollo@pec.agid.gov.it">protocollo@pec.agid.gov.it</a>
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    <strong>{{_ "Contatti del responsabile della protezione dei dati"}}</strong>
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    {{_ "Indirizzo: Via Liszt 21 - 00144 Roma, presso AgID"}}<br>
                    {{_ "Indirizzo e-mail:"}} <a href="mailto:responsabileprotezionedati@agid.gov.it">responsabileprotezionedati@agid.gov.it </a>
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    <strong>{{_ "Autorità di controllo"}}</strong>
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    <strong>{{_ "Garante per la protezione dei dati personali"}}</strong><br>
                    {{_ "Sito web:"}} <a href="https://www.garanteprivacy.it">https://www.garanteprivacy.it</a>
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    <strong>{{_ "Categorie di dati personali e relative finalità del trattamento"}}</strong>
                </h5>
                <ul>
                <li class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    - <u>{{_ "Dati ottenuti durante la navigazione del sito:"}}</u>
                    {{_ "indirizzo IP acquisito mediante log di accesso al sito."}}
                    {{_ "Tali dati sono trattati per la gestione tecnica del sito web e per la raccolta di dati analitici sul traffico del sito web."}}
                </li>
                <li class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    - <u>{{_ "Dati forniti dagli utenti mediante il servizio di HelpDesk:"}}</u>
                    {{_ "nome, e-mail"}}. {{_ "Tali dati sono trattati al fine di acquisire i dati di contatto dell’utente che inoltra una richiesta di supporto per inviare il relativo riscontro. Si evidenzia che la ricezione delle richieste inoltrate mediante il servizio di help desk comporta l’acquisizione di tutti i dati personali inclusi volontariamente dall’utente nelle comunicazioni stesse."}}
                </li>
                </ul>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    <strong>{{_ "Base giuridica del trattamento"}}</strong>
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    {{_ "I dati personali sono trattati da AgID nell’esecuzione dei compiti istituzionali di interesse pubblico e o comunque connessi all’esercizio dei propri pubblici poteri e doveri istituzionali."}}
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    <strong>{{_ "Categorie di destinatari dei dati personali"}}</strong>
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    {{_ "AgID, per erogare i propri servizi relativi al presente sito web, tratta i dati personali unitamente alle seguenti categorie di destinatari, nominati responsabili del trattamento:"}} 
                    <ul>
                        <li class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                            • {{_ "Formez PA, quale fornitore per il supporto all’help desk;"}}
                        </li>
                        <li class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                            • {{_ "Telecom Italia S.p.A., Enterprise Services Italia S.r.l., Poste Italiane S.p.A. e Postel S.p.A., quali fornitori di servizi tecnici, hosting provider e cloud service provider in virtù del contratto quadro stipulato con Consip a seguito dell’aggiudicazione del Lotto 1 – Servizi di Cloud Computing - della “Procedura ristretta, suddivisa in 4 lotti, per l’affidamento dei servizi Cloud Computing, di Sicurezza, di realizzazione di Portali e Servizi online e di Cooperazione applicativa per le Pubbliche Amministrazioni (ID SIGEF 1403)”;"}}<br>
                            {{_ "AgID non intende trasferire i dati personali a Paesi terzi o a Organizzazioni internazionali."}}
                        </li>
                    </ul>
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    <strong>{{_ "Tempi di conservazione dei dati"}}</strong>
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    {{_ "I dati di navigazione sono cancellati subito dopo la relativa elaborazione statistica e in ogni caso non vengono conservati per oltre 7 giorni dal momento della raccolta, salvo che la loro ulteriore conservazione non si renda necessaria per l’accertamento di reati."}}<br>
                    {{_ "I dati personali forniti direttamente dall’utente sono trattati per il tempo necessario allo svolgimento del servizio richiesto e comunque non oltre 30 giorni dal completamento delle operazioni."}}
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    <strong>{{_ "Diritti degli utenti"}}</strong>
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    {{_ "Gli utenti hanno il diritto di ottenere da AgID l’accesso ai propri dati personali, la rettifica o la cancellazione degli stessi, la limitazione del relativo trattamento, il diritto di opporsi al trattamento e il diritto alla portabilità dei dati."}}<br>
                    {{_ "Le richieste vanno rivolte ad AgID in qualità di titolare del trattamento, anche contattando il responsabile della protezione dei dati."}}<br>
                    {{_ "Fermo restando il diritto di adire l’Autorità giudiziaria, gli utenti hanno altresì il diritto di proporre reclamo al Garante per la protezione dei dati personali."}}<br>
                    {{_ "AgID garantisce che non è prevista alcuna forma di processo decisionale automatizzato che comporti effetti giuridici sull’utente."}}
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    <strong>{{_ "Cookie policy"}}</strong>
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    {{_ "I cookies sono piccoli file di testo che i siti visitati inviano al terminale dell'Utente, dove vengono memorizzati, per poi essere ritrasmessi agli stessi siti alla visita successiva."}}<br>
                    {{_ "Il sito utilizza:"}}<br>
                </p>                
                <ul>
                    <li class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                        - <strong>{{_ "cookies analytics"}}</strong>
                        {{_ "utilizzati per raccogliere informazioni, in forma aggregata, sul numero degli Utenti e su come gli stessi visitano il Sito. Il sito SPID si avvale del servizio Google Analytics, la cui cookie policy può essere visionata a questo link"}} (<a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a>).
                        {{_ "Al fine di rispettare la privacy dei nostri utenti, il servizio è utilizzato con la modalità '_anonymizeip' che consente di mascherare gli indirizzi IP degli utenti che navigano sul sito internet: maggiori informazioni sulla funzionalità"}} (<a href="https://support.google.com/analytics/answer/2763052?hl=it">https://support.google.com/analytics/answer/2763052?hl=it</a>).
                    </li>
                    <li class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                        - {{_ "Il sito raccoglie informazioni sulla navigazione anche attraverso il software open source"}}
                        <strong>Piwik</strong> (https://piwik.org) {{_ "ospitato presso i server dell'Agenzia per l'Italia Digitale."}}
                        {{_ "I dati sono raccolti all’unico fine di elaborare informazioni statistiche anonime sull’uso del Sito e per verificare il corretto funzionamento dello stesso; i dati di navigazione potrebbero essere utilizzati in vista dell’identificazione dell’Utente solo nel caso in cui ciò fosse necessario per l’accertamento di reati di natura informatica."}}
                        {{_ "I cookies utilizzati dal Sito non consentono la raccolta di informazioni personali relative all’utente e si cancellano automaticamente con la chiusura del browser di navigazione."}}
                    </li>
                </ul><br><br>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    {{_ "I cookies non sono utilizzati per attività di profilazione dell’Utente."}}<br><br>
                    {{_ "L’Utente può scegliere di abilitare o disabilitare i cookies intervenendo sulle impostazioni del proprio browser di navigazione secondo le istruzioni rese disponibili dai relativi fornitori ai link di seguito indicati:"}}<br><br>
                </p>     
                <ul>
                    <li class="Prose u-layout-prose u-padding-left-s u-padding-right-s"><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=it">Chrome</a></li>
                    <li class="Prose u-layout-prose u-padding-left-s u-padding-right-s"><a href="https://support.mozilla.org/it/kb/Attivare e disattivare i cookie">Firefox</a></li>
                    <li class="Prose u-layout-prose u-padding-left-s u-padding-right-s"><a href="https://support.apple.com/it-it/HT201265">Safari</a></li>
                    <li class="Prose u-layout-prose u-padding-left-s u-padding-right-s"><a href="https://support.microsoft.com/it-it/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a></li>
                    <li class="Prose u-layout-prose u-padding-left-s u-padding-right-s"><a href="http://help.opera.com/Windows/10.00/it/cookies.html">Opera</a></li>                    
                </ul>            
            </div>
        </section>

        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    <strong>{{_ "Note Legali"}}</strong>
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    {{_ "Spid.gov.it è un sito che contiene informazioni sul Sistema Pubblico di Identità Digitale ed è gestito dall'Agenzia per l'Italia Digitale."}}
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    <strong>{{_ "Copyright"}}</strong>
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    {{_ "La titolarità di tutti i documenti e contenuti (testi, presentazioni, immagini, foto, video, ecc.) è dell'Agenzia per l'Italia Digitale."}}<br>
                    {{_ "La visualizzazione, il download e qualunque utilizzo dei dati pubblicati sul Sito comporta accettazione delle presenti note legali e delle condizioni della licenza con cui sono pubblicati."}}<br>
                    <br>
                   {{_ " Salvo ove diversamente indicato, i contenuti pubblicati sul presente sito  sono messi a disposizione con licenza CC-BY 3.0, il cui testo integrale è disponibile al seguente indirizzo:"}} <a href="http://creativecommons.org/licenses/by/3.0/it/legalcode">http://creativecommons.org/licenses/by/3.0/it/legalcode</a><br>
                    <br>
                    {{_ "Questo significa che, ove non diversamente specificato, i contenuti di questo sito sono liberamente distribuibili e riutilizzabili, a patto che sia sempre citata la fonte e – ove possibile - riportato l'indirizzo web della pagina originale."}}
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    <strong>{{_ "Utilizzo del sito e download"}}</strong>
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    {{_ "L'Agenzia per l'Italia Digitale si impegna costantemente per assicurare la qualità delle informazioni pubblicate sul sito, nonché la loro integrità, aggiornamento , completezza, tempestività , semplicità di consultazione e accessibilità."}}<br>
                    <br>
                    {{_ "Per qualunque segnalazione o suggerimento è possibile scrivere all’indirizzo protocollo@pec.agid.gov.it."}}<br>
                    <br>
                    {{_ "In nessun caso l'Agenzia per l'Italia Digitale può essere ritenuta responsabile dei danni di qualsiasi natura causati direttamente o indirettamente dall'accesso al sito, dall'incapacità o impossibilità di accedervi."}}<br>
                    <br>
                    {{_ "L'Agenzia per l'Italia Digitale, inoltre, non potrà essere ritenuta in alcun modo responsabile per i servizi di connettività utilizzati dagli Utenti per l’accesso al Portale."}}<br>
                    <br>
                    {{_ "I documenti presenti in questo sito per lo scaricamento (download), salvo diversa indicazione, sono liberamente e gratuitamente disponibili, in caso contrario viene prodotto un avviso come premessa nell'uso degli stessi."}}
                </p>
            </div>
        </section>
        <section class="Grid">
            <div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
                <h5 class="u-margin-top-xxl u-padding-left-s u-padding-right-s u-text-h5">
                    <strong>{{_ "Accesso a siti esterni collegati"}}</strong>
                </h5>
                <p class="Prose u-layout-prose u-padding-left-s u-padding-right-s">
                    {{_ "I collegamenti a siti esterni, indicati nel presente sito, sono forniti come semplice servizio agli utenti, con esclusione di ogni responsabilità sulla correttezza e sulla completezza dell’insieme dei collegamenti indicati."}}<br>
                    <br>
                    {{_ "L’indicazione dei collegamenti non implica da parte dell'Agenzia per l'Italia Digitale non comporta alcun tipo di approvazione o condivisione di responsabilità in relazione alla legittimità, alla completezza e alla correttezza delle informazioni contenute nei siti indicati."}}
                </p>
            </div>
        </section>
    </div>
</div>
