<div class="u-layout-medium u-layoutCenter u-padding-r-all">

    <section class="u-padding-r-all">
        <h2 class="u-text-h2 u-margin-bottom-xxs">{{_ "Richiedi SPID"}}</h2>

        <section class="Prose u-layout-prose">
            <p>
                {{_ "Per richiedere e ottenere le tue credenziali SPID, il Sistema Pubblico di Identità Digitale, devi esser maggiorenne."}}
            </p>
            <h3 class="u-text-h3">{{_ "Di cosa hai bisogno"}}</h3>
            <ul>
                <li>{{_ "un indirizzo e-mail"}}</li>
                <li>{{_ "il numero di telefono del cellulare che usi normalmente"}}</li>
                <li>{{_ "un documento di identità valido (uno tra: carta di identità, passaporto, patente, permesso di soggiorno)*"}}</li>
                <li>{{_ "la tua tessera sanitaria con il codice fiscale*"}}</li>
            </ul>
            <p class="u-textSecondary"><small>
                {{_ "* Durante la registrazione può esser necessario fotografarli e allegarli al form che compilerai."}}
            </small></p>
        </section>

        <section class="Prose">
            <h3 class="u-text-h3">{{_ "Cosa devi fare"}}</h3>
            <p class="u-layout-prose">
                {{_ "Inizia registrandoti sul sito di uno tra"}}
                <strong>{{_ "Aruba"}}</strong>, <strong>{{_ "Infocert"}}</strong>, <strong>{{_ "Namirial"}}</strong>, <strong>{{_ "Poste Italiane"}}</strong>, <strong>{{_ "Register.it"}}</strong>, <strong>{{_ "Sielte"}}</strong>, <strong>{{_ "TIM"}}</strong>. 
                {{_ "Gli Identity Provider (IdP) ti offrono diverse modalità per richiedere e ottenere SPID."}}
                <br>{{_ "I tempi di rilascio dell'identità digitale dipendono dai singoli"}} <em>{{_ "Identity Provider"}}</em>.</p>

            <div class="u-layout-medium u-background-grey-10 u-padding-r-all">
                <ul class="Grid js-randomize">
                    <li class="Grid-cell u-sm-size1of3 u-md-size1of3 u-lg-size1of5 u-margin-r-bottom u-margin-r-top u-textCenter">
                        <a href="#aruba" title="Aruba ID" class="u-padding-right-xl">
                            <span class="u-hiddenVisually">Aruba ID</span>
                            <img src="assets/img/richiedi-spid/logo-aruba.svg" alt="Logo Aruba ID" height="40" width="220">
                        </a>
                        <ul class="u-margin-r-top">
                            <li>&bullet; <a class="u-color-50" href="#aruba-webcam">{{_ "via webcam (a pagamento)"}}</a></li>
                            <li>&bullet; <a class="u-color-50" href="https://spid.gov.it/richiedi-spid#altre-modalita">{{_ "CIE, CNS o firma digitale"}}</a></li>
                        </ul>
                    </li>
                    <li class="Grid-cell u-sm-size1of3 u-md-size1of3 u-lg-size1of5 u-margin-r-bottom u-margin-r-top u-textCenter">
                        <a href="#infocert" title="InfoCert ID" class="u-padding-right-xl">
                            <span class="u-hiddenVisually">InfoCert ID</span>
                            <img src="assets/img/richiedi-spid/logo-infocert.svg" alt="Logo InfoCert ID" height="40" width="220">
                        </a>
                        <ul class="u-margin-r-top">
                            <li>&bullet; <a class="u-color-50" href="#infocert-webcam">{{_ "via webcam (a pagamento)"}}</a></li>
                            <li>&bullet; <a class="u-color-50" href="#infocert-devisu">{{_ "di persona"}}</a></li>
                            <li>&bullet; <a class="u-color-50" href="https://spid.gov.it/richiedi-spid#altre-modalita">{{_ "CIE, CNS o firma digitale"}}</a></li>
                        </ul>
                    </li>
                    <li class="Grid-cell u-sm-size1of3 u-md-size1of3 u-lg-size1of5 u-margin-r-bottom u-margin-r-top u-textCenter">
                        <a href="#namirial" title="Namirial ID" class="u-padding-right-xl">
                            <span class="u-hiddenVisually">Namirial ID</span>
                            <img src="assets/img/richiedi-spid/logo-namirial.svg" alt="Logo Namirial ID" height="40" width="220">
                        </a>
                        <ul class="u-margin-r-top">
                            <li>&bullet; <a class="u-color-50" href="#namirial-devisu">{{_ "di persona"}}</a></li>
                            <li>&bullet; <a class="u-color-50" href="https://spid.gov.it/richiedi-spid#altre-modalita">{{_ "CIE, CNS o firma digitale"}}</a></li>
                        </ul>
                    </li>
                    <li class="Grid-cell u-sm-size1of3 u-md-size1of3 u-lg-size1of5 u-margin-r-bottom u-margin-r-top u-textCenter">
                        <a href="#poste" title="Poste ID" class="u-padding-right-xl">
                            <span class="u-hiddenVisually">Poste ID</span>
                            <img src="assets/img/richiedi-spid/logo-poste.svg" alt="Logo Poste ID" height="40" width="220">
                        </a>
                        <ul class="u-margin-r-top">
                            <li>&bullet; <a class="u-color-50" href="#poste-bancoposta">{{_ "online (gratis)"}}</a></li>
                            <li>&bullet; <a class="u-color-50" href="#poste-devisu">{{_ "di persona (gratis)"}}</a></li>
                            <li>&bullet; <a class="u-color-50" href="#poste-domicilio">{{_ "a domicilio (a pagamento)"}}</a></li>
                            <li>&bullet; <a class="u-color-50" href="https://spid.gov.it/richiedi-spid#altre-modalita">{{_ "CIE, CNS o firma digitale"}}</a></li>
                        </ul>
                    </li>
                    <li class="Grid-cell u-sm-size1of3 u-md-size1of3 u-lg-size1of5 u-margin-r-bottom u-margin-r-top u-textCenter">
                        <a href="#sielte" title="Sielte ID" class="u-padding-right-xl">
                            <span class="u-hiddenVisually">Sielte ID</span>
                            <img src="assets/img/richiedi-spid/logo-sielte.svg" alt="Logo Sielte ID" height="40" width="220">
                        </a>
                        <ul class="u-margin-r-top">
                            <li>&bullet; <a class="u-color-50" href="#sielte-webcam">{{_ "via webcam (gratis)"}}</a></li>
                            <li>&bullet; <a class="u-color-50" href="#sielte-devisu">{{_ "di persona (gratis)"}}</a></li>
                            <li>&bullet; <a class="u-color-50" href="https://spid.gov.it/richiedi-spid#altre-modalita">{{_ "CIE, CNS o firma digitale"}}</a></li>
                        </ul>
                    </li>
                    <li class="Grid-cell u-sm-size1of3 u-md-size1of3 u-lg-size1of5 u-margin-r-bottom u-margin-r-top u-textCenter">
                        <a href="#spiditalia" title="SpidItalia" class="u-padding-right-xl">
                            <span class="u-hiddenVisually">SpidItalia Register.it</span>
                            <img src="assets/img/richiedi-spid/logo-register.svg" alt="Logo SpidItalia" height="40" width="220">
                        </a>
                        <ul class="u-margin-r-top">
                            <li>&bullet; <a class="u-color-50" href="#register-webcam">{{_ "via webcam (gratis)"}}</a></li>
                            <li>&bullet; <a class="u-color-50" href="https://spid.gov.it/richiedi-spid#altre-modalita">{{_ "CNS o firma digitale"}}</a></li>
                            <li>&bullet; <a class="u-color-50" href="https://spid.gov.it/richiedi-spid#altre-modalita">{{_ "CIE, CNS o firma digitale"}}</a></li>
                        </ul>
                    </li>
                    <li class="Grid-cell u-sm-size1of3 u-md-size1of3 u-lg-size1of5 u-margin-r-bottom u-margin-r-top u-textCenter">
                        <a href="#tim" title="Tim ID" class="u-padding-right-xl">
                            <span class="u-hiddenVisually">Tim ID</span>
                            <img src="assets/img/richiedi-spid/logo-tim.svg" alt="Logo Tim ID" height="40" width="220">
                        </a>
                        <ul class="u-margin-r-top">
                            <li>&bullet; <a class="u-color-50" href="#tim-webcam">{{_ "via webcam"}}<br>{{_ "(gratis fino al 31-12-2017)"}}</a></li>
                            <li>&bullet; <a class="u-color-50" href="#tim-devisu">{{_ "di persona"}}</a></li>
                            <li>&bullet; <a class="u-color-50" href="https://spid.gov.it/richiedi-spid#altre-modalita">{{_ "CIE, CNS o firma digitale"}}</a></li>
			</ul>
                    </li>
                    <li class="Grid-cell u-sm-size1of3 u-md-size1of3 u-lg-size1of5 u-margin-r-bottom u-margin-r-top u-textCenter">
                        <a href="#intesaid" title="IntesaID" class="u-padding-right-xl">
                            <span class="u-hiddenVisually">IntesaID</span>
                            <img src="assets/img/richiedi-spid/logo-intesa.svg" alt="Logo IntesaID" height="40" width="220">
                        </a>
                        <ul class="u-margin-r-top">
                            <li>&bullet; <a class="u-color-50" href="#intesaid-devisu">{{_ "di persona"}}</a></li>
                            <li>&bullet; <a class="u-color-50" href="https://spid.gov.it/richiedi-spid#altre-modalita">{{_ "con firma digitale"}}</a></li>
			</ul>
                    </li>                    
                </ul>
            </div>
            <br><br>
            <!-- <h4 class="u-text-h4">{{_ "Come completare la registrazione"}}</h4> -->
            <h5 class="u-text-h5 js-randomize-exclude">
              <span class="u-color-black">
                {{_ "In base all'Identity Provider che scegli, completa la procedura con una tra le seguenti opzioni:"}}
              </span>
            </h5>

            <div class="js-randomize">
                <div class="Prose spid-idp aruba u-margin-r-bottom" id="aruba">
                    <h4 class="u-padding-r-top u-border-top-xxs u-color-grey-40"><span class="u-text-h4 u-color-grey-90">{{_ "Se scegli Aruba"}}</span></h4>
                    <img src="assets/img/richiedi-spid/logo-aruba.svg" class="u-floatRight u-hidden u-md-block u-lg-block" alt="" height="40" width="220">
                    <h5 class="u-text-h5 u-padding-r-top u-textWeight-700" id="aruba-webcam">{{_ "Via webcam"}} <br><small>{{_ "a pagamento"}}</small></h5>
                    <p class="u-layout-prose u-margin-r-top">
                        {{_ "Se hai una webcam collegata al tuo computer puoi scegliere la modalità di riconoscimento completamente online comodamente da casa."}}
                    </p>
                    <p class="u-layout-prose u-margin-r-top">
                        {{_ "Il servizio è a pagamento, a partire da 14, 90 euro + IVA."}} <a href="https://cart.aruba.it/ESecurity/Spid/Otp" title="{{_ 'Dettagli'}} Aruba ID" onclick="goog_report_conversion(this.href)">{{_ "Scopri qui tutti i dettagli"}}</a>.
                    </p>
                    <div class="u-padding-r-bottom">
                        <h5 class="u-text-h5">{{_ "Tempi medi"}}</h5>
                        <ul>
                            <li>{{_ "inserimento dati online: 10 minuti"}}</li>
                            <li>{{_ "riconoscimento via webcam: 12 minuti"}}</li>
                        </ul>
                    </div>
                    <p class="u-layout-prose u-flex u-flexAlignItemsCenter">
                        <img src="assets/img/webcam.svg" width="60" height="65" alt="" aria-hidden="true" class="u-padding-r-right" />
                        <a href="https://www.pec.it/spid.aspx" class="u-text-p"
                          onclick="goog_report_conversion(this.href)">{{_ "Comincia la registrazione dal sito di Aruba ID"}}</a>
                    </p>

                    <h5 class="u-color-70 u-textWeight-700 u-cf u-text-r-xs">{{_ "Call center Aruba"}}</h5>
                    <p class="u-textSecondary">
                        <span class="u-text-r-xxs">{{_ "0575.0504 (attivo tutti i giorni 24 ore su 24)"}}</span>
                    </p>

                </div>
                <!-- aruba -->

                <div class="Prose spid-idp infocert u-margin-r-bottom" id="infocert">
                    <h4 class="u-padding-r-top u-border-top-xxs u-color-grey-40"><span class="u-text-h4 u-color-grey-90">{{_ "Se scegli InfoCert"}}</span></h4>
                    <img src="assets/img/richiedi-spid/logo-infocert.svg" class="u-floatRight u-hidden u-md-block u-lg-block" alt="" height="40" width="220">
                    <h5 class="u-text-h5 u-padding-r-top u-textWeight-700" id="infocert-webcam">{{_ "Via webcam"}} <br><small>{{_ "a pagamento"}}</small></h5>
                    <p class="u-layout-prose u-margin-r-top">
                        {{_ "Se hai una webcam collegata al tuo computer puoi scegliere la modalità di riconoscimento completamente online comodamente da casa. Un operatore InfoCert ti aiuterà nel completare la registrazione e non dovrai stampare e spedire nulla."}}
                    </p>
                    <p class="u-layout-prose u-margin-r-top">
                        {{_ "Il servizio costa 19,90 € ed è disponibile dal lunedì al venerdì dalle 9.00 alle 18.00."}}
                    </p>
                    <div class="u-padding-r-bottom">
                        <h5 class="u-text-h5">{{_ "Tempi medi"}}</h5>
                        <ul>
                            <li>{{_ "inserimento dati online: 10 minuti"}}</li>
                            <li>{{_ "riconoscimento via webcam: in tempo reale, senza dover prendere appuntamento"}}</li>
                        </ul>
                    </div>
                    <p class="u-layout-prose u-flex u-flexAlignItemsCenter">
                        <img src="assets/img/webcam.svg" width="60" height="65" alt="" aria-hidden="true" class="u-padding-r-right" />
                        <a href="https://identitadigitale.infocert.it/start/" class="u-text-p"
                          onclick="goog_report_conversion(this.href)">{{_ "Comincia la registrazione dal sito di InfoCert ID"}}</a>
                    </p>
                    <h5 class="u-text-h5 u-textWeight-700" id="infocert-devisu">{{_ "Di persona"}} <br>
                      <small class="u-text-r-xxs">{{_ "in 250 uffici"}}</small></h5>
                    <p class="u-layout-prose">
                      {{_ "Trova l’ufficio più vicino a te: dovrai recarti allo sportello per concludere la registrazione e ottenere le tue credenziali. Potrai scegliere tra diversi servizi e modalità di assistenza forniti presso gli uffici, gratuitamente o a pagamento. Scopri tutti i dettagli e"}} <a href="https://identitadigitale.infocert.it/infocertpoint/">{{_ "verifica dov’è l’ufficio più vicino"}}</a>
                    </p>
                    <div class="u-padding-r-bottom">
                        <h5 class="u-text-h5">{{_ "Tempi medi"}}</h5>
                        <ul>
                            <li>{{_ "inserimento dati online: 10 minuti"}}</li>
                            <li>{{_ "appuntamento in ufficio: un operatore ti contatterà per concordare con te l'appuntamento"}}</li>
                        </ul>
                    </div>
                    <p class="u-layout-prose u-flex u-flexAlignItemsCenter">
                        <img src="assets/img/uffici.svg" width="70" height="55" alt="" aria-hidden="true" class="u-padding-r-right" />
                        <a class="u-alignMiddle" href="https://identitadigitale.infocert.it/start/?map=1"
                          onclick="goog_report_conversion(this.href)">{{_ "Verifica dov'è l'ufficio InfoCert più vicino e comincia la registrazione"}}</a>
                    </p>

                    <h5 class="u-color-70 u-textWeight-700 u-cf u-text-r-xs">{{_ "Call center InfoCert"}}</h5>
                    <p class="u-textSecondary">
                        <span class="u-text-r-xxs">{{_ "199.500.130 (attivo dal lunedì al venerdì dalle 8.30 alle 19.00)"}}</span>
                    </p>

                </div>
                <!-- infocert -->

                <div class="Prose spid-idp namirial u-margin-r-bottom" id="namirial">
                    <h4 class="u-padding-r-top u-border-top-xxs u-color-grey-40"><span class="u-text-h4 u-color-grey-90">{{_ "Se scegli Namirial"}}</span></h4>
                    <img src="assets/img/richiedi-spid/logo-namirial.svg" class="u-floatRight u-hidden u-md-block u-lg-block" alt="" height="40" width="220">
                    <br>
		    <h5 class="u-text-h5 u-textWeight-700" id="namirial-devisu">{{_ "Di persona"}}</h5>
                    <p class="u-layout-prose">
                        {{_ "Al momento è possibile prendere appuntamento presso la sede di Senigallia (AN), Via Caduti del Lavoro 4 chiamando il numero 071-63494"}}
                    </p>
                    
                    <h5 class="u-color-70 u-textWeight-700 u-cf u-text-r-xs">{{_ "Call center Namirial"}}</h5>
                    <p class="u-textSecondary">
                        <span class="u-text-r-xxs">{{_ "Per ricevere assistenza, è possibile contattare il numero 071.63494, dalle 9.00 alle 13.00 e dalle 15.00 alle 19.00, dal lunedì al venerdì."}}</span>
                    </p>

                </div>
                <!-- Namirial -->
                <div class="Prose spid-idp poste" id="poste">
                    <h4 class="u-padding-r-top u-border-top-xxs u-color-grey-40"><span class="u-text-h4 u-color-grey-90">{{_ "Se scegli Poste Italiane"}}</span></h4>
                    <img src="assets/img/richiedi-spid/logo-poste.svg" class="u-floatRight u-hidden u-md-block u-lg-block" alt="" height="40" width="220">

                    <h5 class="u-text-h5 u-padding-r-top u-textWeight-700" id="poste-bancoposta">{{_ "Online"}} <br><small>{{_ "gratuitamente"}}</small></h5>
                    <p class="u-layout-prose">
                        {{_ "Se sei un cliente on line Bancoposta puoi utilizzare il cellulare certificato o il lettore di carte Postamat per ottenere on line l'identità SPID."}}
                    </p>
                    <div class="u-padding-r-bottom">
                        <h5 class="u-text-h5">{{_ "Tempi medi"}}</h5>
                        <ul>
                            <li>{{_ "rilascio online: 5 minuti"}}</li>
                        </ul>
                    </div>
                    <p class="u-layout-prose u-flex u-flexAlignItemsCenter">
                        <img src="assets/img/richiedi-spid/bancoposta.svg" width="70" height="45" alt="" aria-hidden="true" class="u-padding-r-right" />
                        <a class="u-alignMiddle" href="https://posteid.poste.it/" onclick="goog_report_conversion(this.href)">{{_ "Comincia la registrazione dal sito di Poste ID"}}</a>
                    </p>

                    <h5 class="u-text-h5 u-padding-r-top u-textWeight-700" id="poste-devisu">{{_ "Di persona"}} <br>
                  <small class="u-text-r-xxs">{{_ "gratuitamente presso gli uffici postali"}}</small></h5>
                    <p class="u-layout-prose">
                      {{_ "Registrandoti sul sito di Poste e successivamente facendoti identificare, e certificare con il tuo cellulare, in"}}
                      <a href="http://www.poste.it/online/cercaup/" onclick="goog_report_conversion(this.href)">{{_ "qualsiasi Ufficio Postale"}}</a>.
                    </p>

                    <h5 class="u-text-h5 u-textWeight-700" id="poste-domicilio">
                      <small class="u-text-r-xxs">{{_ "a pagamento tramite servizio a domicilio"}}</small></h5>
                    <p class="u-layout-prose">
                      {{_ "Richiedendo, durante la registrazione, il servizio a domicilio effettuato dai portalettere a un costo di 14,50€; il portalettere verrà da te entro 5 giorni lavorativi successivi alla registrazione sul sito."}}
                    </p>
                    <div class="u-padding-r-bottom">
                        <h5 class="u-text-h5">{{_ "Tempi medi"}}</h5>
                        <ul>
                            <li>{{_ "inserimento dati: 10 minuti (5 se hai già le credenziali Poste.it)"}}</li>
                        </ul>
                    </div>
                    <p class="u-layout-prose u-flex u-flexAlignItemsCenter">
                        <img src="assets/img/richiedi-spid/postino.svg" width="70" height="55" alt="" aria-hidden="true" class="u-padding-r-right" />
                        <a class="u-alignMiddle" href="https://posteid.poste.it/" onclick="goog_report_conversion(this.href)">{{_ "Comincia la registrazione dal sito di Poste ID"}}</a>
                        <!-- <br>
                    <a class="u-alignMiddle" href="https://www.poste.it/online/cercaup/">{{_ "Trova l'ufficio postale più vicino"}}</a> -->
                    </p>
                    <h5 class="u-color-70 u-textWeight-700 u-cf u-text-r-xs">{{_ "Call center Poste"}}</h5>
                    <p class="u-layout-prose u-textSecondary u-text-r-xxs"><span class="u-text-r-xxs">
                    <!-- {{_ "(selezionando l'opzione 3 per i Servizi Internet):"}} -->
                    {{_ "numero verde gratuito 803.160 da rete fissa; da rete mobile al numero 199.100.160 (il costo della chiamata è legato al piano tariffario dell'operatore utilizzato)"}}
                    <br> {{_ "servizio disponibile 24 ore su 24 per la richiesta di sospensione delle credenziali e dalle 8:00 alle 20:00, dal lunedì al sabato per tutte le altre esigenze."}}</span>
                    </p>
                </div>
                <!-- poste -->
		
                <div class="Prose spid-idp sielte" id="sielte">
                    <h4 class="u-padding-r-top u-border-top-xxs u-color-grey-40"><span class="u-text-h4 u-color-grey-90">{{_ "Se scegli Sielte"}}</span></h4>
                    <img src="assets/img/richiedi-spid/logo-sielte.svg" class="u-floatRight u-hidden u-md-block u-lg-block" alt="" height="40" width="220">
                    <h5 class="u-text-h5 u-padding-r-top u-textWeight-700" id="sielte-webcam">{{_ "Via webcam"}} <br>
                      <small class="u-text-r-xxs">{{_ "gratuitamente"}}</small></h5>
                    <p class="u-layout-prose">
                        {{_ "Seguendo le istruzioni che ti indicheranno gli operatori di Sielte potrai completare la registrazione totalmente online tramite un pc, tablet o dispositivo mobile munito di una webcam."}}
                    </p>
                    <div class="u-padding-r-bottom">
                        <h5 class="u-text-h5">{{_ "Tempi medi"}}</h5>
                        <ul>
                            <li>{{_ "inserimento dati online: 10 minuti"}}</li>
                            <li>{{_ "riconoscimento via webcam: prendi un appuntamento direttamente on line e verrai identificato in 5 minuti."}}</li>
                        </ul>
                    </div>
                    <p class="u-layout-prose u-flex u-flexAlignItemsCenter">
                        <img src="assets/img/webcam.svg" width="60" height="65" alt="" aria-hidden="true" class="u-padding-r-right" />
                        <a href="http://registrati.sielteid.it/" onclick="goog_report_conversion(this.href)">{{_ "Comincia la registrazione dal sito di Sielte ID"}}</a>
                    </p>
                    <h5 class="u-text-h5 u-textWeight-700" id="sielte-devisu">{{_ "Di persona"}} <br>
                      <small class="u-text-r-xxs">{{_ "gratuitamente"}}</small></h5>
                    <p class="u-layout-prose">
                        {{_ "Trova l'ufficio più vicino a te: dovrai recarti allo sportello per concludere la registrazione e ottenere le tue credenziali."}}
                    </p>
                    <!-- <div class="u-padding-r-bottom">
                    <h5 class="u-text-h5">{{_ "Tempi medi"}}</h5>
                    <ul>
                        <li>{{_ "inserimento dati online: 10 minuti"}}</li>
                        <li>{{_ "appuntamento in ufficio: un operatore ti contatterà per concordare con te l'appuntamento"}}</li>
                    </ul>
                </div> -->
                    <p class="u-layout-prose u-flex u-flexAlignItemsCenter">
                        <img src="assets/img/uffici.svg" width="70" height="55" alt="" aria-hidden="true" class="u-padding-r-right" />
                        <a class="u-alignMiddle" href="http://www.sielteid.it/contact.html" onclick="goog_report_conversion(this.href)">{{_ "Verifica dov'è l'ufficio Sielte più vicino e comincia la registrazione"}}</a>
                    </p>
                    <h5 class="u-color-70 u-textWeight-700 u-cf u-text-r-xs">{{_ "Call center Sielte"}}</h5>
                    <p class="u-layout-prose u-textSecondary u-text-r-xxs"><span class="u-text-r-xxs">
                  {{_ "800.11.33.22 - da lunedì a sabato 9:00 - 18:00"}}</span>
                    </p>
                </div>
		
		        <div class="Prose spid-idp spiditalia u-margin-r-bottom" id="spiditalia">
                    <h4 class="u-padding-r-top u-border-top-xxs u-color-grey-40"><span class="u-text-h4 u-color-grey-90">{{_ "Se scegli SpidItalia Register.it"}}</span></h4>
                    <img src="assets/img/richiedi-spid/logo-register.svg" class="u-floatRight u-hidden u-md-block u-lg-block" alt="" height="40" width="220">
                    <br>
                    <h5 class="u-text-h5 u-padding-r-top u-textWeight-700" id="register-webcam">{{_ "Via webcam"}} <br>
                      <small class="u-text-r-xxs">{{_ "gratuitamente"}}</small></h5>
                    <p class="u-layout-prose">
                        {{_ "Seguendo le istruzioni di SpidItalia Register.it potrai effettuare il riconoscimento online tramite un pc, tablet o dispositivo mobile munito di una webcam."}}
                    </p>
                    <div class="u-padding-r-bottom">
                        <h5 class="u-text-h5">{{_ "Tempi medi"}}</h5>
                        <ul>
                            <li>{{_ "Dai 5 ai 10 minuti"}}</li>
                        </ul>
                    </div>
                    <p class="u-layout-prose u-flex u-flexAlignItemsCenter">

                    </p>
                    <h5 class="u-color-70 u-textWeight-700 u-cf u-text-r-xs">{{_ "Call center Spiditalia Register.it"}}</h5>
                    <p class="u-textSecondary">
                        <span class="u-text-r-xxs">{{_ "035 6305561 - da lunedì a domenica 9:00 - 18:00"}}</span>
                    </p>
                </div>
                <!-- Spiditalia -->
		
                <div class="Prose spid-idp tim" id="tim">
                    <h4 class="u-padding-r-top u-border-top-xxs u-color-grey-40"><span class="u-text-h4 u-color-grey-90">{{_ "Se scegli TIM"}}</span></h4>
                    <img src="assets/img/richiedi-spid/logo-tim.svg" class="u-floatRight u-hidden u-md-block u-lg-block" alt="" height="40" width="220">

                    <h5 class="u-text-h5 u-padding-r-top u-textWeight-700" id="tim-webcam">{{_ "Via webcam"}}<br>
                      <small class="u-text-r-xxs">{{_ "gratuitamente fino al 31-12-2017"}}</small></h5>
                    <p class="u-layout-prose">
                      {{_ "Se hai un computer dotato di webcam puoi scegliere la modalità di riconoscimento completamente online comodamente da casa. Un operatore ti aiuterà nel completare la registrazione e non dovrai stampare e spedire nulla."}}
                    </p>
                    <p class="u-layout-prose u-flex u-flexAlignItemsCenter">
                        <img src="assets/img/webcam.svg" width="60" height="65" alt="" aria-hidden="true" class="u-padding-r-right" />
                        <a href="https://spid.tim.it" onclick="goog_report_conversion(this.href)">{{_ "Comincia la registrazione dal sito di Tim ID"}}</a>
                    </p>
                    <div class="u-padding-r-bottom">
                        <h5 class="u-text-h5">{{_ "Tempi medi"}}</h5>
                        <ul>
                            <li>{{_ "inserimento dati: 5 minuti"}}</li>
                            <li>{{_ "riconoscimento via webcam: 5 minuti dall’inizio della video conferenza"}}</li>
                        </ul>
                    </div>

                    <h5 class="u-text-h5 u-textWeight-700" id="tim-devisu">{{_ "Di persona"}}</h5>
                    <p class="u-layout-prose">
                        {{_ "Al momento è possibile prendere appuntamento presso gli uffici di TI Trust Technologies siti in Strada Statale Pontina km 29,100 - 00071 Pomezia (RM)."}}
                    </p>

                    <h5 class="u-color-70 u-textWeight-700 u-cf u-text-r-xs">{{_ "Call center TIM"}}</h5>
                    <p class="u-layout-prose u-textSecondary u-text-r-xxs"><span class="u-text-r-xxs">
                  {{_ "800.405.800 - dal lunedì al venerdì dalle 9:00 alle 18.30"}}</span>
                    </p>
                </div>
                <!-- Tim -->

                <div class="Prose spid-idp intesa" id="intesaid">
                    <h4 class="u-padding-r-top u-border-top-xxs u-color-grey-40"><span class="u-text-h4 u-color-grey-90">{{_ "Se scegli Intesa"}}</span></h4>
                    <img src="assets/img/richiedi-spid/logo-intesa.svg" class="u-floatRight u-hidden u-md-block u-lg-block" alt="" width="220">

                    <h5 class="u-text-h5 u-padding-r-top u-textWeight-700" id="intesaid-devisu">{{_ "Di persona"}}</h5>
                    <p class="u-layout-prose">
                      {{_ "Al momento è possibile prendere appuntamento presso la sede di Torino, in Strada Pianezza 289"}}
                    </p>
                    <h5 class="u-color-70 u-textWeight-700 u-cf u-text-r-xs" id="intesaid-callcenter">{{_ "Call center Intesa"}}</h5>
                    <p class="u-layout-prose">
                      {{_ "Per ricevere assistenza è possibile contattare il numero 800805093, dal lunedì al venerdì"}}
                    </p>
                </div>
                <!-- Intesa -->                



            </div>

        </section>
    </section>

</div>


<div class="u-padding-r-all u-background-grey-10">
    <section class="u-layout-medium u-layoutCenter u-padding-r-all">
        <div class="Prose u-layout-prose">
            <h4 class="u-text-h4" id="altre-modalita">{{_ "Con carta d'identità elettronica, CNS o firma digitale"}}</h4>
            <p>
                {{_ "Se hai una Carta d’Identità Elettronica o una Carta Nazionale dei Servizi"}} <span>{{_ "attiva"}}</span> {{_ "o una firma digitale, puoi completare la registrazione totalmente on line tramite un lettore di smart card da collegare al tuo computer."}}
            </p>
            <p>
                {{_ "Comincia con"}} <a href="https://www.pec.it/spid.aspx" onclick="goog_report_conversion(this.href)">Aruba</a>,
                <a href="https://identitadigitale.infocert.it/start/" onclick="goog_report_conversion(this.href)">InfoCert</a>,
                <a href="https://www.intesa.it/intesaid/" onclick="goog_report_conversion(this.href)">Intesa</a>,
                <a href="https://www.namirialtsp.com/spid/" onclick="goog_report_conversion(this.href)">Namirial</a>,
                <a href="https://posteid.poste.it/identificazione/identificazione_cns.shtml" onclick="goog_report_conversion(this.href)">Poste Italiane</a>,
                <a href="https://www.register.it/spid/" onclick="goog_report_conversion(this.href)">SpidItalia Register.it</a>,
                <a href="http://registrati.sielteid.it/" onclick="goog_report_conversion(this.href)">Sielte</a> o
                <a href="https://spid.tim.it" onclick="goog_report_conversion(this.href)">TIM</a>
            </p>
            <div class="u-padding-r-bottom">
                <h5 class="u-text-h5">{{_ "Tempi medi"}}</h5>
                <ul>
                    <li>{{_ "inserimento dati online: 20 minuti"}}</li>
                </ul>
            </div>
        </div>
    </section>
</div>

