<div class="u-padding-r-top">
    <div class="u-layout-medium u-layoutCenter u-margin-bottom-xxl u-layout-withGutter">
        <div class="Prose u-layout-prose u-margin-r-bottom">
            <h2 class="u-text-h2">{{_ "Serve aiuto ?"}}</h2>
 
            <div class="u-margin-r-bottom u-text-r-xl">
                <img class="icon-properties" src="assets/img/serve-aiuto/icona-scrivici.svg" alt="" />
                <strong class="u-text-r-s">{{_ "Scrivici"}}</strong>
                <p class="u-padding-left-xxl u-text-r-m">
                  <a href="https://helpdesk.spid.gov.it/">{{_ "Invia una richiesta al supporto online per SPID"}}
                </a>
                </p>
            </div>

            <div class="u-margin-r-bottom u-text-r-xl">
                <img class="icon-properties" src="assets/img/serve-aiuto/icona-chiamaci.svg" alt="" />
                <strong class="u-text-r-s">{{_ "Chiamaci"}}</strong>
                <p class="u-padding-left-xxl">
                    <a href="tel:0682888736"><img class="img-phone-support u-margin-bottom-xs" src="assets/img/serve-aiuto/telefono-supporto-spid.svg" alt="{{_ 'Telefono Supporto SPID: 06 82888 736'}}" />
                    </a>
                </p>
                <p class="u-padding-left-xxl u-text-p">
                    {{_ "Puoi chiamare dal lunedì al venerdì dalle 9:30 alle 16:00."}}
                    <br> {{_ "Costo della telefonata in base al piano tariffario applicato dal proprio gestore."}}
                </p>
            </div>

            <div class="u-text-r-s u-flexAlignSelfStretch">
                <mark class="neutral-back">
                    <img class="icon-properties" src="assets/img/serve-aiuto/icona-pa.svg" alt="" />
                    <strong>{{_ "Sei una pubblica amministrazione ?"}}</strong>
                </mark>
            </div>
        </div>

        <div class="Prose u-layout-prose u-margin-bottom-xxl u-margin-top-xxl">
            <h3 class="u-text-h3">{{_ "Call center Identity Provider"}}</h3>
            <h4 class="u-text-h4">{{_ "Aruba"}}</h4>
            <ul>
                <li>{{_ "0575.0504 (attivo 24 h su 24, 7 giorni su 7)"}}</li>
            </ul>
            <h4 class="u-text-h4">{{_ "Infocert"}}</h4>
            <ul>
                <li>{{_ "06.54641489 (attivo dal lunedì al venerdì dalle 8:30 alle 19.00)"}}</li>
            </ul>
            <h4 class="u-text-h4">{{_ "Intesa"}}</h4>
            <ul>
                <li>{{_ "Numero verde per l’Italia: 800-303303 (dal lunedì al venerdì dalle 7 alle 24, il sabato e la domenica dalle 9 alle 19)"}}</li>
                <li>{{_ "Numero chiamate dall’estero: +39 011 8019.200 (dal lunedì al venerdì dalle 7 alle 24, il sabato e la domenica dalle 9 alle 19)"}}</li>
            </ul>            
            <h4 class="u-text-h4">{{_ "Namirial"}}</h4>
            <ul>
                <li>{{_ "071.63494 (attivo dal lunedì al venerdì dalle 9.30 alle 11.00 e dalle 15:00 alle 19:00)"}}</li>
            </ul>
            <h4 class="u-text-h4">{{_ "Poste"}}</h4>
            <ul>
                <li>{{_ "Numero verde gratuito 803.160 da rete fissa"}}</li>
                <li>{{_ "Da rete mobile al numero 199.100.160 (il costo della chiamata è legato al piano tariffario dell'operatore utilizzato)"}}</li>
            </ul>
            <p class="u-text-r-xxs">
                {{_ "Servizio disponibile 24 ore su 24 per la richiesta di sospensione delle credenziali e dalle 8:00 alle 20:00, dal lunedì al sabato per tutte le altre esigenze."}}
            </p>
            <h4 class="u-text-h4">{{_ "Sielte"}}</h4>
            <ul>
                <li>{{_ "800.11.33.22 - dal lunedì al sabato dalle 9:00 alle 18:00"}}</li>
            </ul>
            <h4 class="u-text-h4">{{_ "SpidItalia Register.it"}}</h4>
            <ul>
                <li>{{_ "035.6305561 (tutti i giorni dalle 9.00 alle 18.00)"}}</li>
            </ul>
            <h4 class="u-text-h4">{{_ "TIM"}}</h4>
            <ul>
                <li>{{_ "Per informazioni sul servizio TIM id invia una mail all'indirizzo supportotimid@telecomitalia.it"}}</li>
            </ul>
            <h4 class="u-text-h4">{{_ "Lepida"}}</h4>
            <ul>
                <li>{{_ "800.44.55.00"}}</li>
            </ul>            
        </div>

    </div>
</div>

