<div class="u-layout-wide u-layoutCenter u-margin-r-bottom u-layout-withGutter u-padding-top-s">
	<section class="Grid u-margin-r-top">
		<div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
			<h2 class="u-text-h2 u-margin-bottom-xs">{{_ "SPID Week"}}</h2>
			<p class="u-text-r-s u-lineHeight-l u-textSecondary u-margin-r-bottom">
				{{_ "A un anno dalla nascita di SPID, AgID lancia"}} <strong class="u-text-r-s">#SPIDweek</strong>{{_ ", la campagna di comunicazione social per informare i cittadini sull’importanza di SPID, sulle sue modalità d’uso e sulla semplificazione dei servizi online a esso connessi."}}
			</p>
			<p class="u-text-r-s u-lineHeight-l u-textSecondary u-margin-r-bottom">
				{{_ "Dal 27 marzo al 2 aprile raccontiamo sui canali ufficiali di AgID - con video, infografiche e iniziative live - cosa è SPID e approfondiamo quali e quanti servizi sono disponibili."}}
			</p>
			<p class="u-text-r-s u-lineHeight-l u-textSecondary u-margin-r-bottom">
				{{_ "Segui i canali ufficiali di AgID:"}}
			</p>
			<ul class="u-padding-r-bottom">
				<li class="u-inlineBlock u-padding-r-right u-padding-r-bottom"><a class="u-text-r-s u-color-50" href="https://www.facebook.com/AgIDGovIT">{{_ "Agenzia per l'Italia Digitale"}} </a></li>
				<li class="u-inlineBlock u-padding-r-right u-padding-r-bottom"><a class="u-text-r-s u-color-50"  href="https://www.facebook.com/groups/agid.spid/">{{_ "Gruppo SPID"}} </a></li>
				<li class="u-inlineBlock u-padding-r-right u-padding-r-bottom"><a class="u-text-r-s u-color-50" href="https://twitter.com/AgidGov">@AgidGov</a></li>
			</ul>
			<p class="u-text-r-s u-lineHeight-l u-textSecondary u-margin-r-bottom">
				{{_ "Usa l’hashtag della campagna"}} <strong class="u-text-r-s">#SPIDweek</strong> {{_ "per condividere i tuoi contenuti su SPID e contribuire al racconto."}}
			</p>
		</div>
		<div class="Grid-cell u-sizeFull u-md-size1of2 u-lg-size1of2">
			<div class="u-padding-left-l">
				<div class="FlexEmbed">
				  <div class="FlexEmbed-ratio FlexEmbed-ratio--16by9"></div>
						<iframe class="FlexEmbed-content" allowfullscreen src="https://www.youtube-nocookie.com/embed/i2eTL_Q2xfM?rel=0&amp;showinfo=0"></iframe>
				</div>
			</div>
		</div>
	</section>
</div>

<section class="u-text-r-xxl u-background-grey-10 u-padding-r-all u-margin-r-bottom">
	<h2 class="u-hiddenVisually">{{_ "Video tutorial: come ottenere SPID"}}</h2>
	<div class="u-padding-r-top u-padding-r-bottom u-layoutCenter u-layout-wide">
		<div class="Grid Grid--withGutter Grid--equalHeight">
			<div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-padding-r-bottom u-margin-r-bottom u-flex u-flexWrap">
				<h3 class="u-text-h4"> {{_ "Riconoscimento via webcam"}} </h3>
				<p class="u-text-r-xs u-lineHeight-l u-padding-r-right" id="tutorial-1">
					{{_ "In questo video tutorial di SPID sul riconoscimento via webcam, Marco ti spiega come fare per richiedere l'identità digitale."}}
				</p>
				<div class="u-flexAlignSelfBottom u-flex u-flexAlignItemsEnd u-margin-r-top">
				<a class="Button Button--default u-text-r-xs u-lineHeight-l u-margin-r-top u-margin-r-bottom u-textClean"
					href="https://www.youtube.com/watch?v=PDzzLTTNg5I&feature=youtu.be" aria-describedby="tutorial-1">
					{{_ "Vai al tutorial"}} <span class="Icon Icon-chevron-right u-margin-r-left"></span>
				</a>
			</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-padding-r-bottom u-margin-r-bottom u-flex u-flexWrap">
				<h3 class="u-text-h4"> {{_ "Riconoscimento di persona"}} </h3>
				<p class="u-text-r-xs u-lineHeight-l u-padding-r-right" id="tutorial-2">
					{{_ "In questo video tutorial di SPID sul riconoscimento di persona, Giovanni ti spiega come fare per richiedere l'identità digitale."}}
				</p>
					<div class="u-flexAlignSelfBottom u-flex u-flexAlignItemsEnd u-margin-r-top">
						<a class="Button Button--default u-text-r-xs u-lineHeight-l u-margin-r-top u-margin-r-bottom u-textClean"
							href="https://www.youtube.com/watch?v=vffDgy_wPU4&feature=youtu.be" aria-describedby="tutorial-2">
							{{_ "Vai al tutorial"}} <span class="Icon Icon-chevron-right u-margin-r-left"></span>
						</a>
			</div>
			</div>
			<div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-padding-r-bottom u-margin-r-bottom u-flex u-flexWrap">
				<h3 class="u-text-h4"> {{_ "Riconoscimento online"}} </h3>
				<p class="u-text-r-xs u-lineHeight-l u-padding-r-right" id="tutorial-3">
					{{_ "In questo video tutorial di SPID sul riconoscimento online con CIE, CNS e firma digitale, Sara ti spiega come fare per richiedere l'identità digitale."}}
				</p>
				<div class="u-flexAlignSelfBottom u-flex u-flexAlignItemsEnd u-margin-r-top">
					<a class="Button Button--default u-text-r-xs u-lineHeight-l u-margin-r-top u-margin-r-bottom u-textClean"
						href="https://www.youtube.com/watch?v=TJLotG7YNYg&feature=youtu.be" aria-describedby="tutorial-2">
						{{_ "Vai al tutorial"}} <span class="Icon Icon-chevron-right u-margin-r-left"></span>
					</a>
				</div>
			</div>
		</div>
		<p class="u-lineHeight-l u-text-r-xxs u-size1of2 u-textSecondary">{{_ "I tutorial hanno scopo informativo, volto a semplificare per il cittadino le modalità di ottenimento di SPID."}}<br>
			{{_ "Ti ricordiamo di verificare tutti i dettagli delle procedure di richiesta con i singoli Identity Provider."}}</p>
	</div>
</section>


{{> carousel-infografiche }}

<div class="u-text-r-xxl u-background-40">
	<div class="u-padding-r-top u-padding-r-bottom u-layoutCenter u-layout-medium u-color-white">
		<div class="Grid">

			<div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of2 u-lg-size1of2">
				<img src="/assets/img/spid-we/graphic_mediakit.svg" alt="" class="u-padding-r-all" style="max-width:96%" />
			</div>

			<div class="Grid-cell u-sizeFull u-sm-size1of2 u-md-size1of2 u-lg-size1of2">
				<div class="u-padding-r-all">
					<h2 class="u-text-h2 u-margin-bottom-xs">{{_ "Media Kit"}}</h2>
					<p class="u-text-r-s u-padding-r-top u-padding-r-bottom">
						{{_ "Partecipa alla #SPIDweek e contribuisci alla promozione social delle novità legate al nuovo sistema di login. Scarica i nostri materiali di comunicazione su SPID:"}}
					</p>
					<a class="Button Button--info u-text-r-m u-linkClean" href="/assets/download/MEDIAKIT-SPIDweek.zip">{{_ "Download"}}</a>
				</div>
			</div>

		</div>
	</div>
</div>

{{> twitter }}
